@charset "UTF-8";
.content { width: 1160px; padding: 20px; margin: 25px auto; background: #fff; overflow: hidden; }

.bq_item { width: 100%; overflow: hidden; }
.bq_item .bq_top { width: 100%; height: 30px; border-bottom: 1px solid #e6e6e6; }
.bq_item .bq_top h2 { float: left; width: auto; height: 26px; border-bottom: 4px solid #f0412a;     font-size: 18px;}
.bq_item ul { width: 100%; height: 68px; overflow: hidden; margin-top: 7px; }
.bq_item ul li { float: left; margin-right: 20px; height: 34px; line-height: 34px; font-size: 14px; }
.bq_item ul li a { display: block; color: #222; }
.bq_item ul li a.red{color:#f0412a;}
.bq_item .bq_L {  height: 100px; float: left; }
.bq_item .bq_L ul li a:hover { color: #00b7ee; }
.bq_item .bq_R { width: 577px; float: right; height: 100px; }
.bq_item .bq_R ul li a:hover { color: #ff9b1f; }

.tj_item { width: 100%; height: 142px; overflow: hidden; position: relative; border-bottom: 1px solid #e6e6e6; border-top: 1px solid #e6e6e6; margin-top: 20px; }
.tj_item .btn_L { float: left; }
.tj_item .btn_R { float: right; }
.tj_item .btn_L, .tj_item .btn_R { width: 50px; height: 142px; background: #a7a7a7; cursor: pointer; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; -khtml-user-select: none; user-select: none; }
.tj_item .btn_L i, .tj_item .btn_R i { display: block; width: 9px; height: 9px; border: 1px solid #fff; border-radius: 50%; background: #818181; margin: 8px auto 8px; }
.tj_item .btn_L h2, .tj_item .btn_R h2 { text-align: center; width: 20px; margin: 0 auto; color: #fff; font-size: 14px; line-height: 16px; }
.tj_item .on { background: -webkit-linear-gradient(top, #f0422a 0%, #f4a66d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0422a', endColorstr='#f4a66d',GradientType=0 ); background: linear-gradient(to bottom, #f0422a 0%, #f4a66d 100%); }
.tj_item .on p { color: #fff; }
.tj_item .on i { background: none; }
.tj_item .itembox { float: left; overflow: hidden; position: relative; width: 1058px; height: 142px; margin-left: 1px; }
.tj_item .itembox .item { width: 2180px; height: 142px; margin-left: 2px; }
.tj_item .itembox .item ul { overflow: hidden; float: left; }
.tj_item .itembox .item ul li { float: left; width: 131px; height: 142px; border-right: 1px solid #e6e6e6; }
.tj_item .itembox .item ul li:hover a { background: #f2f2f2; }
.tj_item .itembox .item ul li:hover p { color: #f0412a; }
.tj_item .itembox .item ul li a { display: block; float: left; width: 127px; height: 138px; margin: 2px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.tj_item .itembox .item ul li a .img { margin: 18px auto 0; }
.tj_item .itembox .item ul li a .img, .tj_item .itembox .item ul li a .img img { width: 75px; height: 75px; border-radius: 18px; }
.tj_item .itembox .item ul li a p { width: 100%; text-align: center; height: 18px; overflow: hidden; line-height: 18px; color: #222; margin-top: 10px; font-size: 14px; }

.Min_1 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_1 .Min1_L { width: 700px; height: 470px; float: left; }
.Min_1 .Min1_L .hd_wrap { width: 100%; height: 444px; background: #eee; }
.Min_1 .Min1_L .hd_wrap .ban { width: 100%; height: 444px; position: relative; overflow: hidden; margin: 0 auto; }
.Min_1 .Min1_L .hd_wrap .ban2 { width: 100%; height: 444px; position: relative; overflow: hidden; }
.Min_1 .Min1_L .hd_wrap .ban2 .lis { width: auto; height: 40px; position: absolute; right: 10px; bottom: 87px; z-index: 2; }
.Min_1 .Min1_L .hd_wrap .ban2 .lis span { display: block; float: left; opacity: 0.6; margin: 10px 3px; width: 19px; height: 19px; font-size: 14px; background: #696969; color: #fff; text-align: center; line-height: 19px; cursor: pointer; }
.Min_1 .Min1_L .hd_wrap .ban2 .lis span.on { opacity: 1; background: #ec4828; }
.Min_1 .Min1_L .hd_wrap .ban2 ul { position: absolute; left: 0; top: 0; }
.Min_1 .Min1_L .hd_wrap .ban2 ul li img { width: 100%; height: 360px; }
.Min_1 .Min1_L .hd_wrap .ban2 ul li { position: relative; float: left; width: 700px; }
.Min_1 .Min1_L .hd_wrap .ban2 ul li .bt { width: 100%; height: 50px; line-height: 50px; padding: 0 10px; background: rgba(0, 0, 0, 0.7); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000); position: absolute; left: 0; bottom: 0; }
.Min_1 .Min1_L .hd_wrap .ban2 ul li .bt a { display: block; float: left; width: 500px; height: 50px; line-height: 50px; text-indent: 10px; font-size: 22px; color: #fff; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min_1 .Min1_L .hd_wrap .num { height: 64px; overflow: hidden; width: 680px; position: relative; float: left; margin: 10px 0 0 12px; }
.Min_1 .Min1_L .hd_wrap .min_pic { width: 100%; height: 84px; background: #eee; position: absolute; left: 0; bottom: 0; }
.Min_1 .Min1_L .hd_wrap .num ul { position: absolute; left: 0; top: 0; height: 62px !important; }
.Min_1 .Min1_L .hd_wrap .num ul li { width: 102px; height: 62px; margin: 0 12px 0 0; }
.Min_1 .Min1_L .hd_wrap .num ul li img { width: 102px; height: 60px; border: 2px solid transparent; }
.Min_1 .Min1_L .hd_wrap .num ul li.on img { border: 2px solid #f0412a; }
.Min_1 .Min1_L .item_a { width: 100%; overflow: hidden; margin-top: 20px; }
.Min_1 .Min1_L .item_a .tist_data { padding: 0; }
.Min_1 .Min1_L .item_a .item { margin-top: 20px; width: 106%; height: 166px; }
.Min_1 .Min1_L .item_a .item .lis { width: 216px; height: 156px; border: 1px solid #e6e6e6; margin: 0 26px 0 0; float: left; }
.Min_1 .Min1_L .item_a .item .lis:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
.Min_1 .Min1_L .item_a .item .lis:hover .name span { border-bottom: 3px solid #7fdbf6; }
.Min_1 .Min1_L .item_a .item .lis .img { display: block; }
.Min_1 .Min1_L .item_a .item .lis .img, .Min_1 .Min1_L .item_a .item .lis .img img { width: 100%; height: 120px; }
.Min_1 .Min1_L .item_a .item .lis .name { width: 100%; height: 35px; line-height: 35px; }
.Min_1 .Min1_L .item_a .item .lis .name .bt { display: block; float: left; width: 150px; height: 35px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-left: 10px; font-size: 13px; color: #222; }
.Min_1 .Min1_L .item_a .item .lis .name span { display: block; float: right; height: 32px; border-bottom: 3px solid #f9d3b6; font-size: 16px; font-weight: bold; padding: 0 5px; margin-right: 5px; color: #f0412a; font-style: italic;    width: 26px;text-align: center; }
.Min_1 .Min1_R { width: 430px; height: 470px; float: right; }
.Min_1 .Min1_R .bt_a { display: block; width: 100%; height: 46px; line-height: 46px; font-size: 24px; color: #f0412a; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center;}
.Min_1 .Min1_R .bt_a:hover { text-decoration: underline; }
.Min_1 .Min1_R .bt_b { width: 100%; height: 30px; line-height: 30px; overflow: hidden; margin-top: 7px; text-align: center; }
.Min_1 .Min1_R .bt_b a { margin-right: 20px; height: 30px; font-size: 14px; color: #0068b7; }
.Min_1 .Min1_R .bt_b a:hover { text-decoration: underline; }
.Min_1 .Min1_R .tabwrap { width: 100%; height: 520px; overflow: hidden; margin-top: 20px; }
.Min_1 .Min1_R .tabwrap .lis { display: none; }
.Min_1 .Min1_R .tabwrap .lis ul { width: 100%; height: 152px; overflow: hidden; padding: 12px 0 8px; margin-bottom: 2px; border-top: 1px solid #e5e5e5; }
.Min_1 .Min1_R .tabwrap .lis ul li { width: 100%; height: 30px; display: block; float: left; line-height: 30px; font-size: 14px; }
.Min_1 .Min1_R .tabwrap .lis ul li:hover i { background: #f0412a; }
.Min_1 .Min1_R .tabwrap .lis ul li:hover a { color: #f0412a; }
.Min_1 .Min1_R .tabwrap .lis ul li a { display: block; float: left; color: #111; width: 370px; height: 30px; line-height: 30px; overflow: hidden;  -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.Min_1 .Min1_R .tabwrap .lis ul li i { width: 4px; height: 4px; background: #989898; border-radius: 50%; float: left; margin: 13px 10px 0 0; }
.Min_1 .Min1_R .tabwrap .lis ul li span { color: #8e8e8e; font-size: 14px; font-family: Arial; float: right; }
.Min_1 .Min1_R .tab_btn { width: 100%; height: 42px; margin-top: 2px; text-align: center; }
.Min_1 .Min1_R .tab_btn span { display: inline-block; width: 24px; height: 24px; cursor: pointer; margin: 10px 5px 0; background: url("../images/imgq.png") no-repeat; background-position: -39px -47px; }
.Min_1 .Min1_R .tab_btn span.on { background-position: -39px -19px; }

.Min_2 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_2 .tist_data { padding: 0; }
.Min_2 .Min2_L { width: 360px; height: 416px; float: left; }
.Min_2 .Min2_L .lis_a { width: 100%; height: 188px; position: relative; margin-top: 20px; overflow: hidden; border-radius: 4px; }
.Min_2 .Min2_L .lis_a .img { display: block; }
.Min_2 .Min2_L .lis_a .img, .Min_2 .Min2_L .lis_a .img img { width: 100%; height: 188px; border-radius: 4px; }
.Min_2 .Min2_L .lis_a .bt { position: absolute; left: 0; bottom: 0; width: 403px; padding: 0 5px; height: 49px; line-height: 49px; font-size: 14px; color: #e6e6e6; background: rgba(0, 0, 0, 0.7); overflow: hidden; white-space: nowrap; text-overflow: ellipsis; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000); }
.Min_2 .Min2_L .lis_b { width: 100%; height: 150px; margin-top: 10px; }
.Min_2 .Min2_L .lis_b .lis { width: 100%; height: 30px; float: left; }
.Min_2 .Min2_L .lis_b .lis:hover i { background: #f0412a; }
.Min_2 .Min2_L .lis_b .lis:hover a.bt { color: #f0412a; }
.Min_2 .Min2_L .lis_b .lis i { display: block; float: left; width: 4px; height: 4px; background: #7f7f7f; margin: 14px 10px 0 2px; }
.Min_2 .Min2_L .lis_b .lis a.bt { display: block; float: left; width: 310px; height: 30px; line-height: 30px; overflow: hidden;  font-size: 14px; color: #222; }
.Min_2 .Min2_L .lis_b .lis .num { height: 30px; line-height: 30px; float: right; }
.Min_2 .Min2_L .lis_b .lis .num u { display: inline-block; width: 17px; height: 16px; background: url("../images/imgq.png") no-repeat; background-position: -42px -80px; float: left; margin-top: 8px; }
.Min_2 .Min2_L .lis_b .lis .num span { float: left; font-size: 14px; color: #9a9a9a; margin-left: 5px; max-width: 64px; overflow: hidden; font-family: Arial; }
.Min_2 .Min2_M { float: left; width: 760px; margin: 0 15px; }
.Min_2 .Min2_M .item { width: 760px; margin-top: 20px; height: 360px; }
.Min_2 .Min2_M .item .lis { width: 380px; height: 75px; margin-bottom: 15px;float:left;}
.Min_2 .Min2_M .item .lis .img { display: block; float: left; margin-right: 18px; }
.Min_2 .Min2_M .item .lis .img, .Min_2 .Min2_M .item .lis .img img { width: 131px; height: 75px; border-radius: 3px; }
.Min_2 .Min2_M .item .lis .bt { display: block; float: left; font-size: 14px; color: #222; height: 40px; width: 230px; line-height: 20px; overflow: hidden; }
.Min_2 .Min2_M .item .lis .bt:hover { color: #f0412a; text-decoration: underline; }
.Min_2 .Min2_M .item .lis .time { width: 80px; height: 16px; line-height: 16px; float: left; font-size: 12px; color: #737373; margin-top: 16px; }
.Min_2 .Min2_M .item .lis .time i { display: inline-block; margin-right: 10px; width: 13px; height: 13px; background: url("../images/imgq.png") no-repeat; background-position: 0 -126px; margin-bottom: -1px; }
.Min_2 .Min2_R { width: 284px; float: right; }
.Min_2 .Min2_R .item { width: 100%; margin-top: 20px; height: 360px; overflow: hidden; }
.Min_2 .Min2_R .item .lis { width: 282px; margin-bottom: 15px; height: 73px; border: 1px solid #f2f2f2; background: #f8f8f8; border-left: none; }
.Min_2 .Min2_R .item .lis .img { display: block; float: left; border-top-left-radius: 18px; border-bottom-left-radius: 18px; background: #fff; }
.Min_2 .Min2_R .item .lis .img, .Min_2 .Min2_R .item .lis .img img { width: 75px; height: 75px; margin-right: 20px; }
.Min_2 .Min2_R .item .lis .img img { border-radius: 18px; }
.Min_2 .Min2_R .item .lis .bt { width: 170px; display: block; float: left; height: 25px; line-height: 25px; font-size: 14px; color: #222; overflow: hidden;  margin: 8px 0 2px; }
.Min_2 .Min2_R .item .lis .bq { width: 110px; height: 22px; float: left; margin-top: 10px; }
.Min_2 .Min2_R .item .lis .bq a { display: inline-block; width: 16px; height: 21px; background: url("../images/imgq.png") no-repeat; margin-right: 5px; }
.Min_2 .Min2_R .item .lis .bq a.ios { background-position: -141px -146px; }
.Min_2 .Min2_R .item .lis .bq a.az { width: 18px; height: 21px; background-position: -141px -170px; }
.Min_2 .Min2_R .item .lis .bq a.pc {background-position: -116px -169px;width: 20px;}
.Min_2 .Min2_R .item .lis .bq a.tv {background-position: -90px -169px;width: 20px;}


.Min_2 .Min2_R .item .lis .lb { height: 29px; background: #f0412a; text-align: center; width: 60px; line-height: 29px; color: #fff; display: block; float: right; border-radius: 2px; margin-right: 15px; font-size: 12px;opacity:0.8;filter:alpha(opacity=80);}
.Min_2 .Min2_R .item .lis .lb:hover {opacity:1;filter:alpha(opacity=100); }

.Min_3 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_3 .tist_data { padding: 0; }
.Min_3 .Min3_item { width: 105%; height: 300px; margin-top: 20px; }
.Min_3 .Min3_item .lis { display: block; float: left; width: 372px; height: 270px; border: 1px solid #e6e6e6; margin-right: 19px; }
.Min_3 .Min3_item .lis:hover { box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
.Min_3 .Min3_item .lis:hover .bt { color: #f0412a; }
.Min_3 .Min3_item .lis .img { display: block; }
.Min_3 .Min3_item .lis .img, .Min_3 .Min3_item .lis .img img { width: 100%; height: 220px; }
.Min_3 .Min3_item .lis .bt { display: block; text-align: center; height: 45px; width: 352px; padding: 0 5px; line-height: 45px; font-size: 16px; margin-top: 2px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #222; }

.Min_4 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_4 .tist_data { padding: 0; }
.Min_4 .Min4_L { width: 413px; float: left; height: 370px; }

.game-kf{margin-top: 8px;width: 410px;height:320px;}
.game-kf li{display: block;width: 100%;height: 60px;margin: 14px 0;overflow: hidden;float: left;}
.game-kf li .img img{float: left;width: 60px;height: 60px;margin: 0 3px;border-radius: 10px;}
.kfgm-name{height: 24px;margin-left: 10px;width: 330px;float: left;}
.kfgm-info{height: 34px;width: 330px;margin: 4px 0 0 10px;float: left;}
.kfgm-name>a{display: block;float: left;color: #222;font-size: 16px;width: 145px;height: 24px;overflow: hidden;}
.kfgm-name>a:hover{text-decoration: underline;color: #00a0e9;}
.kfgm-name>p{text-indent: 8px;float: left;margin-left: 4px; height: 24px;line-height: 24px;font-size: 12px;color: #999;}
.kfgm-name>p i{width: 3px;  height: 3px;   background: #f0412a; border-radius: 50%; display: inline-block;float: left; margin-top: 10px;}
.kfgm-name>span{display:block;float:right;margin:0 2px; width: 20px;height: 20px;  background: url(../images/imgq.png) no-repeat;}
.kfgm-name>span.az{ background-position: -141px -170px;}
.kfgm-name>span.ios{ background-position: -141px -147px;}
.kfgm-name>span.pc{background-position: -116px -170px;}
.kfgm-name>span.tv{background-position: -89px -170px;}

.kfgm-info>p{width: 210px;height: 17px;overflow: hidden;font-size: 12px;color: #8ba8a3;line-height: 17px;float:left;}
.kfgm-info>a{display: block;float: right;width: 90px;height: 26px;color: #00a0e9;font-size:14px;border: 1px solid #00a0e9;text-align: center;line-height: 24px;border-radius: 6px;margin-top: -14px;}
.kfgm-info>a:hover{background: #00a0e9;color: #fff;}


.Min_4 .Min4_R { float: right; width: 720px; overflow: hidden; }
.Min_4 .Min4_R .item { width: 103%; height: 180px; overflow: hidden; margin-top: 20px; }
.Min_4 .Min4_R .item .lis { width: 120px; height: 180px; float: left; margin-right: 28px; }
.Min_4 .Min4_R .item .lis .img { display: block; }
.Min_4 .Min4_R .item .lis .img, .Min_4 .Min4_R .item .lis .img img { width: 120px; height: 120px; }
.Min_4 .Min4_R .item .lis .bt { display: block; width: 100%; height: 40px; line-height: 20px; font-size: 14px; color: #222; text-align: center; overflow: hidden;   margin-top: 9px; }
.Min_4 .Min4_R .item .lis .bt:hover { color: #f0412a; }
.Min_4 .Min4_R .item .lis p { width: 100%; height: 24px; line-height: 24px; font-size: 14px; color: #222; text-align: center; }
.Min_4 .Min4_R .item_b { width: 100%; height: 150px; overflow: hidden; }
.Min_4 .Min4_R .item_b .title { width: 100%; height: 36px; border-bottom: 1px solid #bfbfbf; }
.Min_4 .Min4_R .item_b .title p { float: left; height: 22px; border-left: 4px solid #f0412a; text-indent: 16px; margin-top: 7px; font-size: 16px; color: #222; }
.Min_4 .Min4_R .item_b ul { width: 105%; margin-top: 20px; overflow: hidden; height: 85px; }
.Min_4 .Min4_R .item_b ul li { float: left; border: 1px solid #e6e6e6; margin-right: 10px; opacity: 0.8; }
.Min_4 .Min4_R .item_b ul li:hover { opacity: 1; }
.Min_4 .Min4_R .item_b ul li a { display: block; }
.Min_4 .Min4_R .item_b ul li, .Min_4 .Min4_R .item_b ul li img { width: 170px; height: 85; border-radius: 2px; }

.Min_5 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_5 .tist_data { padding: 0; }
.Min_5 .item { width: 105%; height: 230px; overflow: hidden; margin-top: 20px; }
.Min_5 .item .lis { float: left; width: 276px; height: 218px; border: 1px solid #e6e6e6; margin: 0 16px 10px 0; }
.Min_5 .item .lis:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }
.Min_5 .item .lis .img { display: block; }
.Min_5 .item .lis .img, .Min_5 .item .lis .img img { width: 100%; height: 162px; }
.Min_5 .item .lis .bt { display: block; float: left; width: 160px; height: 56px; line-height: 56px; font-size: 16px; color: #222; margin-left: 12px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min_5 .item .lis .bq { display: block; float: right; width: 77px; height: 29px; text-align: center; line-height: 29px; border-radius: 15px; font-size: 14px; color: #fff; background: #78cfe9; margin: 15px 12px 0 0; }
.Min_5 .item .lis .bq:hover { opacity: 0.88; }
.Min_5 .item .lis .bgc_1 { background: #78cfe9; }
.Min_5 .item .lis .bgc_2 { background: #82d6a9; }
.Min_5 .item .lis .bgc_3 { background: #f4a76d; }

.Min_6 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_6 .tist_data { padding: 0; }
.Min_6 .item { width: 105%; overflow: hidden; margin-top: 20px; }
.Min_6 .item .lis { width: 179px; height: 226px; float: left; border: 1px solid #e6e6e6; margin: 9px 14px 10px 0; }
.Min_6 .item .lis:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
.Min_6 .item .lis:hover .name { color: #f0412a; }
.Min_6 .item .lis .img { display: block; margin: 20px auto 0; }
.Min_6 .item .lis .img, .Min_6 .item .lis .img img { width: 120px; height: 120px; }
.Min_6 .item .lis .name { width: 120px; margin: 16px auto 0; height: 26px; line-height: 26px; font-size: 15px; color: #222; display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min_6 .item .lis .info { width: 150px; height: 26px; margin: 0 auto; }
.Min_6 .item .lis .info span { height: 26px; line-height: 26px; font-size: 12px; color: #9a9a9a; margin-left: 12px; float: left; }
.Min_6 .item .lis .info p { float: right; height: 17px; margin-top: 5px; background: #7fdbf6; border-radius: 2px; padding: 0 5px; font-size: 12px; color: #fff; }
/*手游攻略开始*/
#L{float: left;width:400px;}
#L .lis_a{width:400px;}
#L .lis_a a{width:340px;}
#L .lis_a span{color:#a7a5a5;}
/*手游攻略结束*/
.Min_7 { width: 100%; overflow: hidden; margin: 20px 0 0; }
.Min_7 .tist_data { padding: 0; }
.Min_7 .Min7_L { width: 413px; float: left; height: 360px; overflow: hidden; }
.Min_7 .Min7_L .item { width: 105%;  overflow: hidden; margin-top: 20px; }
.Min_7 .Min7_L .item .lis { width: 200px; height: 150px; float: left; margin: 0 13px 11px 0; }
.Min_7 .Min7_L .item .lis:hover .bt { color: #f0412a; }
.Min_7 .Min7_L .item .lis .img { display: block; margin: 0 auto; }
.Min_7 .Min7_L .item .lis .img, .Min_7 .Min7_L .item .lis .img img { width: 180px; height: 100px; border-radius: 3px; }
.Min_7 .Min7_L .item .lis .bt { width: 180px; height: 46px; margin: 0 auto; display: block; line-height: 22px; font-size: 14px; color: #222; overflow: hidden;  margin-top: 5px;}
.Min_7 .Min7_R { float: right; width: 720px; height: 360px; }
.Min_7 .Min7_R .lis_a { width: 340px;  float: left; margin-top: 16px; }
.Min_7 .Min7_R .lis_a ul { width: 100%;height: 150px; }
.Min_7 .Min7_R .lis_a ul  + ul{padding-top: 13px; border-top: 1px solid #ddd;  margin-top: 10px;}
.Min_7 .Min7_R .lis_a ul li { float: left; width: 100%; height: 24px; line-height: 24px; margin-bottom: 5px; font-size: 14px; color: #222; }
.Min_7 .Min7_R .lis_a ul li:hover i { background: #f0412a; }
.Min_7 .Min7_R .lis_a ul li:hover a { color: #f0412a; text-decoration: underline; }
.Min_7 .Min7_R .lis_a ul li i { width: 4px; height: 4px; background: #898989; border-radius: 50%; display: block; float: left; margin: 12px 5px 0 0; }
.Min_7 .Min7_R .lis_a ul li a { display: block; float: left; width: 300px; height: 24px; line-height: 24px; color: #222; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.Min_7 .Min7_R .lis_b { float: right; width: 377px; height: 310px; overflow: hidden; margin-top: 20px; }
.Min_7 .Min7_R .lis_b ul { width: 106%; overflow: hidden; }

.Min_7 .Min7_R .lis_b ul li { width: 190px; height: 150px; float: left; margin: 0 0px 11px 0; }
.Min_7 .Min7_R .lis_b ul li:hover .bt { color: #f0412a; }
.Min_7 .Min7_R .lis_b ul li .img { display: block; margin: 0 auto; }
.Min_7 .Min7_R .lis_b ul li .img, .Min_7 .Min7_R .lis_b ul li .img img { width: 180px; height: 100px; border-radius: 3px; }
.Min_7 .Min7_R .lis_b ul li .bt { width: 180px; height: 50px; margin: 0 auto; display: block; line-height: 22px; font-size: 14px; color: #222; overflow: hidden;  margin-top: 5px; }

.Min_8 { width: 100%; overflow: hidden; margin-top: 10px; }
.Min_8 .ph_top { width: 100%; height: 50px; border-bottom: 3px solid #e6e6e6; }
.Min_8 .ph_top i { display: block; float: left; width: 18px; height: 22px; background: url("../images/imgq.png") no-repeat; background-position: -362px -117px; margin: 13px 15px 0 13px; }
.Min_8 .ph_top i{margin-left: 500px;}
.Min_8 .ph_top h2 { float: left; font-size: 20px; color: #222; font-weight: bold; height: 50px; line-height: 50px; margin-right: 15px; }
.Min_8 .ph_top a.mor { display: block; float: left; color: #eb6977;font-size:12px; border-radius: 15px; height: 20px; text-align: center; line-height: 20px; border: 1px solid #eb6977; width: 45px; margin-top: 14px; -webkit-transition: all 0.1s linear; -moz-transition: all 0.1s linear; -ms-transition: all 0.1s linear; -o-transition: all 0.1s linear; transition: all 0.1s linear; }
.Min_8 .ph_top a.mor:hover { background: #eb6977; color: #fff; }
.Min_8 .phwrap { width: 105%; }
.Min_8 .item { width: 278px; height: 529px; border: 1px solid #e6e6e6; border-radius: 3px; float: left; margin: 35px 13px 0 0; }
.Min_8 .item .top_bg { width: 150px; height: 56px; margin: -26px auto 0; text-align: center; font-size: 18px; background: url("../images/ph_top.png") no-repeat; color: #16debd; line-height: 49px; }
.Min_8 .item ul { width: 260px; margin: 0 auto; overflow: hidden; }
.Min_8 .item ul li { width: 100%; float: left; }
.Min_8 .item ul li .lis_a { width: 100%; height: 40px; line-height: 40px; }
.Min_8 .item ul li .lis_a .bt { width: 200px; font-size: 14px; color: #222; height: 40px; line-height: 40px; display: block; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin-left: 10px; }
.Min_8 .item ul li .lis_b { width: 100%; display: none; }
.Min_8 .item ul li .lis_b .img { display: block; float: left; margin: 10px; }
.Min_8 .item ul li .lis_b .img, .Min_8 .item ul li .lis_b .img img { width: 90px; height: 90px; border-radius: 18px; }
.Min_8 .item ul li .lis_b .bt { display: block; margin: 5px 0 0 10px; width: 140px; height: 24px; line-height: 24px; float: left; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 14px; color: #222; }
.Min_8 .item ul li .lis_b .info { width: 140px; margin-left: 10px; float: left; margin-top: 5px; }
.Min_8 .item ul li .lis_b .info p { width: 100%; height: 18px; line-height: 18px; font-size: 12px; color: #737373; }
.Min_8 .item ul li .lis_a span, .Min_8 .item ul li .lis_b span { display: block; float: left; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 12px; border-radius: 3px; margin: 12px 10px 0; background: #f0f0f0; }
.Min_8 .item ul li.on .lis_a { display: none; }
.Min_8 .item ul li.on .lis_b { display: block; }
.Min_8 .item_a ul li span { background: #6ee7cf !important; color: #fff; }
.Min_8 .item_a ul li + li span { background: #8becd9 !important; color: #fff; }
.Min_8 .item_a ul li + li + li span { background: #a8f1e2 !important; color: #fff; }
.Min_8 .item_a ul li + li + li + li span { background: #f0f0f0 !important; color: #a2a2a2; }
.Min_8 .item_b ul li span { background: #19abff !important; color: #fff; }
.Min_8 .item_b ul li + li span { background: #47bcff !important; color: #fff; }
.Min_8 .item_b ul li + li + li span { background: #75cdff !important; color: #fff; }
.Min_8 .item_b ul li + li + li + li span { background: #f0f0f0 !important; color: #a2a2a2; }
.Min_8 .item_b .top_bg { background-position: 0 -56px; color: #19abff; }
.Min_8 .item_c ul li span { background: #feaa48 !important; color: #fff; }
.Min_8 .item_c ul li + li span { background: #febb6d !important; color: #fff; }
.Min_8 .item_c ul li + li + li span { background: #fecc91 !important; color: #fff; }
.Min_8 .item_c ul li + li + li + li span { background: #f0f0f0 !important; color: #a2a2a2; }
.Min_8 .item_c .top_bg { background-position: 0 -112px; color: #feaa48; }
.Min_8 .item_d ul li span { background: #f25657 !important; color: #fff; }
.Min_8 .item_d ul li + li span { background: #f57879 !important; color: #fff; }
.Min_8 .item_d ul li + li + li span { background: #f79a9a !important; color: #fff; }
.Min_8 .item_d ul li + li + li + li span { background: #f0f0f0 !important; color: #a2a2a2; }
.Min_8 .item_d .top_bg { background-position: 0 -168px; color: #f25657; }

 