{extend name="public:base" /}

{block name="content"}
<table id="table" lay-filter="table"></table>
{/block}

{block name="script"}
<script type="application/javascript">
layui.use(['form', 'upload', 'jquery', 'table'], function () {
    var form = layui.form,
        $ = layui.jquery,
        table = layui.table
        , cols = [[
            {field: 'att', title: 'ID', width: 80, fixed: 'left'}
            , {field: 'sortid', title: '排序', width:120,}
            , {field: 'attname', title: '属性',width: 120,}
        ]]
    , elem = 'table';

    UI.getPageTable(table, "{:url('')}", cols, "#"+elem, 'auth')


})
</script>
{/block}