{extend name="public:base_layer" /}

{block name="style"}
<script type="text/javascript" src="/static/lib/ueditor1_4_3/ueditor.config.js" xmlns="http://www.w3.org/1999/html"></script>
<script type="text/javascript" src="/static/lib/ueditor1_4_3/ueditor.all.js"></script>
<style type="text/css">
.layui-upload-img{width: 92px; height: 92px;}
</style>
{/block}

{block name="content"}

<form action="{:url('')}" method="post" class="layui-form" >

<div class="layui-tab" lay-filter="CatalogMain_catalog_add" >
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">常规选项</li>
        <li lay-id="2">高级参数</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">

            <input type="hidden" name="dopost" value="save" />
            <input type="hidden" name="channelid" value="<?php echo $channelid?>" />
            <input type="hidden" name="id" value="<?php echo $aid?>" />
            <!--<table width="98%"  border="0" align="center" cellpadding="2" cellspacing="2" id="needset" style="border:1px solid #cfcfcf;background:#ffffff;">-->

            <div class="layui-form-item">

                <div class="layui-inline">
                    <label class="layui-form-label">&nbsp;文章标题：</label>
                    <div class="layui-input-inline">
                        <input name="title" type="text" id="title" value="<?php echo $arcRow['title']; ?>" class="layui-input" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">&nbsp;简略标题：</label>
                    <div class="layui-input-inline">
                        <input name="shorttitle" type="text" id="shorttitle" style="width:150px"  value="<?php echo $arcRow['shorttitle']; ?>" class="layui-input" />
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="display:none;">
                <label class="layui-form-label">&nbsp;自定义属性：</label>
                <div class="layui-input-block">
                    {volist name="ArcattAll" id="vo"}
                    <?php
                    if($vo->att == 'j'){
                        $jumpclick = " onclick='ShowUrlTr()'";
                    }else{
                        $jumpclick = '';
                    }

                    if(preg_match("#".$vo->att."#", $arcRow['flag'])){
                        echo "<input class='np' type='checkbox' name='flags[]' id='flags{$vo->att}' value='{$vo->att}' ".$jumpclick." checked='checked' title=".$vo->attname."[".$vo->att."] />";
                    }else{
                        echo "<input class='np' type='checkbox' name='flags[]' id='flags".$vo->att."' value='".$vo->att."' ".$jumpclick." />".$vo->attname.'['.$vo->att.']';
                    }
                    ?>
                    {/volist}
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">&nbsp;跳转网址：</label>
                <div class="layui-input-block">
                    <input name="redirecturl" type="text" id="redirecturl" class="layui-input" style="width:300px" value="<?php echo $addRow["redirecturl"]?>" />
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">TAG标签：</label>
                    <div class="layui-input-inline" style="width:300px">
                        <input name="tags" type="text" id="tags" value="<?php echo $tags; ?>"  class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">(','号分开，单个标签小于12字节)</div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">权重：</label>
                    <div class="layui-input-inline" style="width:60px;">
                        <input name="weight" type="text" id="weight" style="width:50px" value="<?php echo $arcRow['weight'];?>" class="layui-input" />
                    </div>
                    <div class="layui-form-mid layui-word-aux">(越小越靠前)</div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">缩 略 图：</label>
                <div class="layui-input-inline">
                    <div class="layui-upload">
                    <input name="picname" type="hidden" id="picname" style="width:300px" value="{$arcRow['litpic']}">
                    <button type="button" class="layui-btn layui-btn-sm" id="test1">
                        <i class="layui-icon">&#xe67c;</i>上传图片
                    </button>
                    <!--<div id="img">
                        <img src="{$arcRow['litpic']|default='/storage/pview.gif'}" width="100" height="100" />
                    </div>-->
                    <div class="layui-upload-list">
                        <img class="layui-upload-img" id="demo1">
                        <p id="demoText"></p>
                    </div>
                    </div>
                </div>
                <!--<input type='checkbox' class='np' name='ddisremote' value='1' title="远程" />-->
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">&nbsp;文章来源：</label>
                    <div class="layui-input-inline">
                        <input name="source" type="text" id="source" value="{$arcRow['source']}" size="16" class="layui-input" >
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">作　者：</label>
                    <div class="layui-input-inline">
                        <input name="writer" type="text" id="writer" style="width:120px" value="{$arcRow['writer']}" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">&nbsp;文章主栏目：</label>
                <div class="layui-input-inline">
                    <select name='typeid' id='typeid' style='width:240px'>
                        <option value="0">请选择</option>
                        {volist name="ArctypeAll" id="vo"}
                            <option {if condition="$arcRow['typeid'] eq $vo['id'] "}selected{/if} value="{$vo->id}">{$vo->typename}</option>
                        {/volist}
                    </select>
                    {if condition="$cfg_remote_site eq 'Y'"}
                    <input name="isremote" type="checkbox" id="isremote" value="1" {if condition="$cfg_title_site eq 'Y'"}checked{/if} title='是否同步远程发布' >
                    {/if}
                </div>
            </div>

            {if condition="$cfg_need_typeid2 eq 'Y'"}
            <div class="layui-form-item">
                <label class="layui-form-label">&nbsp;文章副栏目：</label>
                <div class="layui-input-inline">
                    <span id='typeid2ct'></span>
                    <input type='text' name='typeid2' id='typeid2' value='<?php echo ($arcRow['typeid2']=='0' ? '' : $arcRow['typeid2']); ?>' style='width:200px;' />
                    <img src='images/menusearch2.gif' style='cursor:pointer;' onClick="ShowCatMap(event, this, <?php echo $channelid; ?>, 'typeid2', '<?php echo $arcRow['typeid2']; ?>')" alt='选择副栏目' title='选择副栏目' />
                </div>
            </div>
            {/if}

            <div class="layui-form-item">
                <lable class="layui-form-label">&nbsp;文章内容：</lable>
                <div class="layui-input-block">
                    <script id="container" name="body" type="text/plain">{$addRow['body']|raw}</script>
                </div>
            </div>

            <div class="layui-form-item" style="display:none;">
                <label class="layui-form-label">&nbsp;附加选项：</label>
                <div class="layui-input-block">
                    <input name="remote" type="checkbox" class="np" id="remote" value="1" checked title="下载远程图片和资源">
                    <input name="autolitpic" type="checkbox" class="np" id="autolitpic" value="1" checked title="提取第一个图片为缩略图">
                </div>
            </div>

            <div>
                <div width="100%"></div>
                <div width="255" align="center" valign="top" bgcolor="#FFFFCC" id="mPic" style="display:none">
                    <div class="multipic">
                    <div style="display: block;background-color:#E5F1CF; height:26px"> <span id="spanButtonPlaceholder"></span> </div>
                    <div id="divFileProgressContainer"></div>


                    <div id="thumbnailsEdit" style="width: 254px; height: 535px; background-color: rgb(255, 255, 255); overflow-y: scroll;">
                        {volist name="trow" id="vo"}
                        <div class="albCt" id="albold{$vo['aid']}">
                            <img width="120" onclick="addtoEditOld('<?php echo $trow['url'];?>',<?php echo $trow['aid'];?>)" src="<?php echo $trow['url'];?>" style="cursor:pointer">
                            <a href="javascript:delAlbPicOld('<?php echo $trow['url'];?>', <?php echo $trow['aid'];?>)">[删除]</a>
                            <div style="margin-top:10px">注释：
                                <input type="text" style="width:100px;" value="<?php echo $trow['title'];?>" name="picinfook<?php echo $trow['aid'];?>">
                            </div>
                        </div>
                        {/volist}
                        <div id="thumbnails"></div>
                    </div>
                    </div>
                </div>
            </div>
                <!--</table>-->


        </div>

        <div class="layui-tab-item ">
            <!-- //高级参数 -->

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">&nbsp;评论选项：</label>
                        <div class="layui-input-inline" style="width:350px;">
                            <input type='radio' name='notpost' class='np' value='0'<?php if($arcRow['notpost']==0) echo " checked='1' "; ?> title='允许评论' />
                            <input type='radio' name='notpost' class='np' value='1'<?php if($arcRow['notpost']==1) echo " checked='1' "; ?> title='禁止评论 ' />
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">浏览次数：</label>
                        <div class="layui-input-inline">
                            <input type='text' name='click' value='{$arcRow["click"]}' style='width:100px;' class="layui-input" />
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">&nbsp;文章排序：</label>
                        <div class="layui-input-inline">
                            <select name="sortup" id="sortup" style="width:150px;">
                                <option value='0'>正常排序</option>
                                <option value="7">置顶一周</option>
                                <option value="30">置顶一个月</option>
                                <option value="90">置顶三个月</option>
                                <option value="180">置顶半年</option>
                                <option value="360">置顶一年</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">标题颜色：</label>
                        <div class="layui-input-inline">
                            <input name="color" type="text" id="color" value="{$arcRow['color']}" class="layui-input" >
                        </div>
                        <input name="modcolor" type="button" id="modcolor" value="选取" onClick="ShowColor(event,this)" class="layui-btn" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">&nbsp;阅读权限：</label>
                        <div class="layui-input-inline">
                            <select name="arcrank" id="arcrank" >
                                <option value='<?php echo $arcRow["arcrank"]?>'> <?php echo $arcRow["rankname"]?> </option>
                                {volist name="ArcattAll" id="vo"}
                                <option value='{$vo->rank}'>{$vo->membername}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">发布选项：</label>
                        <div class="layui-input-block">
                            <input name="ishtml" type="radio" class="np" value="1"<?php if($arcRow["ismake"]!=-1) echo " checked";?> title='生成HTML' />
                            <input type="radio" name="ishtml" class="np" value="0"<?php if($arcRow["ismake"]==-1) echo " checked";?> title='仅动态浏览' >
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">&nbsp;更新时间：</label>
                        <div class="layui-input-inline">
                            <input name="pubdate" value="{$nowtime|date='Y-m-d H:i:s'}" type="text" id="pubdate" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">消费金币：</label>
                        <div class="layui-input-inline">
                            <input name="money" type="text" id="money" value="<?php echo $arcRow["money"]?>" size="10" class='layui-input' />
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">&nbsp;关键字：</label>
                    <div class="layui-input-block">
                        <input type="text"  name="keywords"  id="keywords" style="width:60%" value="<?php echo $arcRow["keywords"]?>" class='layui-input' />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">&nbsp;文章摘要：</label>
                    <div class="layui-input-block">
                        <textarea name="description" rows="5" id="description" class="layui-textarea">{$arcRow["description"]}</textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:90px;">自定义文件名：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="filename" id="filename" value="<?php echo $arcRow["filename"]?>" class='layui-input' />
                        </div>
                        <div class="layui-form-mid layui-word-aux">（不包括后缀名如.html等）</div>
                    </div>
                    <?php if(isset($cfg_tamplate_rand) && $cfg_tamplate_rand==1){ ?>
                    <div class="layui-inline">
                        <label class="layui-form-label">模板选择</label>
                        <div class="layui-input-inline">
                        <select name='templet' id='templet' style='width:200px' size='1'>
                            <?php
                            foreach($cfg_tamplate_arr as $k=>$v){
                                $v = trim($v);
                                echo ($v==$addRow['templet'] ? "<option value='$v' selected>$v</option>\r\n" : "<option value='$v'>$v</option>\r\n");
                            }
                            ?>
                        </select>
                        <?php }else{ ?>
                        <input type='hidden' name='templet' value='{$addRow['templet']}' />
                        </div>
                    </div>
                    <?php } ?>
                </div>

            <div width="98%"  border="0" align="center" cellpadding="2" cellspacing="2" id="voteset" style="display:none;">
                <div>
                    <div height="30">
                        <table width="800" border="0" cellspacing="0" cellpadding="0">
                            <div>
                                <div width="90" height="22">&nbsp;投票：</div>
                                <div>
                                    <input type="text" name="voteid" id="voteid" value="{$arcRow['voteid']}" />
                                    <input name="selvote" type="button" id="selvote" value="选择投票" onClick="selectVote()" />
                                    <input name="addvote" type="button" id="addvote" value="新增投票" onclick="addVote()" />
                                    <input type="button" name="viewvote" id="viewvote" value="查看投票" onclick="viewVote()" />
                                </div>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button lay-submit class="layui-btn" lay-filter="submit">提交</button>
        </div>
    </div>

</div>

</form>
{/block}

{block name="script"}
<script type="application/javascript">
var ue = UE.getEditor('container', {
    autoHeightEnabled: false,
    zIndex: 0,
    toolbars: [
        [
            'anchor','undo','redo','bold','indent','snapscreen',
            'italic','underline','strikethrough','subscript','fontborder',
            'superscript','formatmatch','source','blockquote','pasteplain',
            'selectall','print','preview','horizontal','removeformat','time',
            'date','unlink','insertrow','insertcol','mergeright','mergedown',
            'deleterow','deletecol','splittorows','splittocols','splittocells',
            'deletecaption','inserttitle','mergecells','deletetable','cleardoc',
            'insertparagraphbeforetable','fontfamily','fontsize','paragraph',
            'simpleupload','insertimage','edittable','edittd','link','emotion',
            'spechars','searchreplace','map','gmap','insertvideo','help',
            'justifyleft','justifyright','justifycenter','justifyjustify',
            'forecolor','backcolor','insertorderedlist','insertunorderedlist',
            'fullscreen','directionalityltr','directionalityrtl','rowspacingtop',
            'rowspacingbottom','pagebreak','insertframe','imagenone','imageleft',
            'imageright','attachment','imagecenter','wordimage','lineheight','edittip ',
            'customstyle','autotypeset','touppercase','tolowercase','background','template',
            'scrawl','music','inserttable','drafts','charts'
        ]
    ],
});

layui.use(['form','upload','jquery'], function() {
    var form = layui.form,
        upload = layui.upload,
        $ = layui.jquery;

    var upload_url= "{:url('Upload/upload')}";
    var upload_accept = 'images';
    var upload_acceptMime = 'image/*';
    var upload_size = 3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        , url: upload_url
        , accept: upload_accept
        , acceptMime:upload_acceptMime
        , size: upload_size
        , done: function(res){
            $("#img").show();
            $("#img img").attr('src', res.data.src);
            $("input[name='picname']").val(res.data.src);
        }
        , error: function(){}
    });

    form.on('submit(submit)', function(data){
        Api.edit(data.field, function(obj){
        });
        return false;
    });

})
</script>
{/block}