{extend name="public:base" /}

{block name="content"}
<a href='{:url("article_add")}' class="layui-btn layui-btn-xs" lay-event="">[添加文档]</a>
<a href='{:url("/admin/CatalogMain")}' class="layui-btn layui-btn-xs" lay-event="">[栏目管理]</a>
<a href='{:url("makehtml_list",["cid"=>0])}' class="layui-btn layui-btn-xs" lay-event="">[更新列表]</a>
<a href='{:url("makehtml_archives",["cid"=>0])}' class="layui-btn layui-btn-xs" lay-event="">[更新文档]</a>
<a href='{:url("recycling", ["cid"=>0])}' class="layui-btn layui-btn-xs" lay-event="">[文档回收站]</a>
<table lay-filter="demoCatalogMain">
    <thead>
    <tr>
        <th lay-data="{field:'f1',width:'80'}">ID</th>
        <th lay-data="{field:'f2'}">选择</th>
        <th lay-data="{field:'f3',width:'180'}">文章标题</th>
        <th lay-data="{field:'f4',width:'170'}">更新时间</th>
        <th lay-data="{field:'f5'}">类目</th>
        <th lay-data="{field:'f6'}">点击</th>
        <th lay-data="{field:'f7'}">html</th>
        <th lay-data="{field:'f8'}">PC链接</th>
        <th lay-data="{field:'f9'}">Wap链接</th>
        <th lay-data="{field:'f10'}">权限</th>
        <th lay-data="{field:'f11'}">发布人</th>
        <th lay-data="{field:'f12',width:'120'}">操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_data" id="vo"}
    <tr>
        <td>{$vo['id']}</td>
        <td><input name="" type="checkbox" value="{$vo['id']}" class="" lay-skin="primary" /></td>
        <td>{$vo['title']}</td>
        <td>{$vo['senddate']}</td>
        <td><a href="content_list.php?cid={$vo['typeid']}">{$vo['typeid']}</a></td>
        <td>{$vo['click']}</td>
        <td>{$vo['ismake']}</td>
        <td>{$vo['bdpc']}</td>
        <td>{$vo['bdwap']}</td>
        <td>{$vo['arcrank']}</td>
        <td>{$vo['mid']}</td>
        <td>
<!--            <a class="layui-btn layui-btn-xs" lay-event="detail">预览</a>-->
            <a href="{:url('article_edit', ['aid'=>$vo['id'] ])}" class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
<!--            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑属性</a>-->
        </td>

    </tr>
    {/volist}

    </tbody>

</table>
<div>{$_data|raw}</div>
{/block}