{extend name="public:base" /}

{block name="style"}
<script type="application/javascript" src="/static/lib/context_menu.js" ></script>
{/block}

{block name="content"}

<table class="layui-table">
    <tr bgcolor="#E7E7E7">
        <td height="28" colspan="7" style="padding-left:10px;">
            <b>文档回收站</b> &nbsp;
        </td>
    </tr>
    <form name="form2">
        <tr align="center" bgcolor="#FBFCE2" height="25">
            <td width="6%">ID</td>
            <td width="4%">选择</td>
            <td width="28%">文章标题</td>
            <td width="10%">更新时间</td>
            <td width="10%">类目</td>
            <td width="8%">点击</td>
            <td width="10%">操作</td>
        </tr>
        {volist name="_data" id="vo"}
        <tr align='center' bgcolor="#FFFFFF"  onMouseMove="javascript:this.bgColor='#FCFDEE';" onMouseOut="javascript:this.bgColor='#FFFFFF';" height="25" >
            <td>{$vo.id}</td>
            <td><input name="arcID" type="checkbox" id="arcID" value="{$vo.id}" ></td>
            <td align='left'>
                <a href='archives_do.php?aid={dede:field.id/}&dopost=editArchives'><u>{$vo.title}</u></a>
            </td>
            <td  function='GetDateMk(@me)' >{$vo.senddate|date='Y-m-d'}</td>
            <td>{$vo.typename}</td>
            <td>{$vo.click}</td>
            <td>
                <a href="javascript:moveArc({$vo['id']})" class="layui-btn layui-btn-xs layui-btn-normal">还原</a>
                <a href="javascript:delArc({$vo['id']})" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
            </td>
        </tr>
        {/volist}
        <tr bgcolor="#ffffff">
            <td height="24" colspan="7">
                &nbsp;
                <a href="javascript:selAll()" class="coolbg">全选</a>
                <a href="javascript:noSelAll()" class="coolbg">取消</a>
                <a href="javascript:moveArc(0)" class="coolbg">&nbsp;还原&nbsp;</a>
                <a href="javascript:delArc(0)" class="coolbg">&nbsp;删除&nbsp;</a></td>
        </tr>
    </form>
</table>

<div>{$_data|raw}</div>
{/block}

{block name="script"}
<script language="javascript">
    function moveArc(aid){
        var qstr=getCheckboxItem();
        if(aid==0) aid = getOneItem();
        location="{:url('archives_do_return')}?aid="+aid+"&dopost=return&qstr="+qstr;
    }

    function delArc(aid){
        var qstr=getCheckboxItem();
        if(aid==0) aid = getOneItem();
        location="{:url('archives_do_del')}?qstr="+qstr+"&aid="+aid+"&dopost=del&recycle=1";
    }


    //获得选中文件的文件名
    function getCheckboxItem()
    {
        var allSel="";
        if(document.form2.arcID.value) return document.form2.arcID.value;
        for(i=0;i<document.form2.arcID.length;i++)
        {
            if(document.form2.arcID[i].checked)
            {
                if(allSel=="")
                    allSel=document.form2.arcID[i].value;
                else
                    allSel=allSel+"`"+document.form2.arcID[i].value;
            }
        }
        return allSel;
    }
    //获得选中其中一个的id
    function getOneItem()
    {
        var allSel="";
        if(document.form2.arcID.value) return document.form2.arcID.value;
        for(i=0;i<document.form2.arcID.length;i++)
        {
            if(document.form2.arcID[i].checked)
            {
                allSel = document.form2.arcID[i].value;
                break;
            }
        }
        return allSel;
    }
    function selAll()
    {
        for(i=0;i<document.form2.arcID.length;i++)
        {
            if(!document.form2.arcID[i].checked)
            {
                document.form2.arcID[i].checked=true;
            }
        }
    }
    function noSelAll()
    {
        for(i=0;i<document.form2.arcID.length;i++)
        {
            if(document.form2.arcID[i].checked)
            {
                document.form2.arcID[i].checked=false;
            }
        }
    }
</script>
{/block}