/public/storage/image/2021*
/.idea
/public/newszone/*.html
/public/storage/*.html
/public/games/*.html
/public/gamenews/*.html
/.env
/public/sitemap.xml
/public/storage/mark/inc_photowatermark_config.php
