{extend name="public:base" /}

{block name="content"}
<?php

require_once($ImageWaterConfigFile);
?>
<table width="98%" border="1" align="center" cellpadding="3" cellspacing="1" bgcolor="#D6D6D6">
    <form action="{:url('/Admin/sys_info_mrk')}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="action" value="save">
    <input type="hidden" name="get_photo_markimg" value="mark.png">
    <tbody>
    <tr>
        <td height="26" colspan="2" bgcolor="#FFFFFF" background="" style="padding-left:10px;">
            <b>DedeCMS系统配置参数</b> - <strong>图片水印设置</strong>
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td width="41%" height="24">上传的图片是否使用图片水印功能：<br> </td>
        <td width="59%">
            <input class="np" type="radio" value="1" name="get_photo_markup" {if condition="$photo_markup eq 1"}checked{/if} >开启
            <input class="np" type="radio" value="0" name="get_photo_markup" {if condition="$photo_markup eq 0"}checked{/if} >关闭
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">采集的图片是否使用图片水印功能：</td>
        <td>
            <input class="np" type="radio" value="1" name="get_photo_markdown" {if condition="$photo_markdown eq 1"}checked{/if} >开启
            <input class="np" type="radio" value="0" name="get_photo_markdown" {if condition="$photo_markdown eq 0"}checked{/if} >关闭
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">选择水印的文件类型：</td>
        <td>
            <input type="radio" name="get_photo_marktype" value="0" {if condition="$photo_marktype eq 0"}checked{/if} >gif
            <input type="radio" name="get_photo_marktype" value="1" {if condition="$photo_marktype eq 1"}checked{/if} >png
            <input type="radio" name="get_photo_marktype" value="2" {if condition="$photo_marktype eq 2"}checked{/if} >文字

        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">添加水印的图片大小控制（设置为0为不限）：</td>
        <td>
            宽：<input name="get_photo_wwidth" type="text" id="get_photo_wwidth" value="{$photo_wwidth}" size="5">
            高：<input name="get_photo_wheight" type="text" id="get_photo_wheight" value="{$photo_wheight}" size="5">
        </td>
    </tr>

    <tr bgcolor="#FFFFFF">
        <td height="24">水印图片文件名（如果不存在，则使用文字水印）：</td>
        <td></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">上传新图片：</td>
        <td>
                <input type="hidden" name="cover_pic" >
                <button type="button" class="layui-btn layui-btn-xs" id="test1">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>

            <input name="newimg" type="hidden" id="newimg" style="width:300">
            <br>
            支持的图片格式：gif png
        </td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">水印图片文字：(&nbsp;请查看data\mark\simhei.ttf字体库是否存在)</td>
        <td><input type="text" name="get_photo_watertext" value="{$photo_watertext}"></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">水印图片文字字体大小：</td>
        <td><input name="get_photo_fontsize" type="text" id="get_photo_fontsize" value="{$photo_fontsize}"></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">水印图片文字颜色（默认#FF0000为红色）：</td>
        <td> <input name="get_photo_fontcolor" type="text" id="get_photo_fontcolor" value="{$photo_fontcolor}"></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">设置 JPEG 类型的图片附件添加水印后质量参数，范围为 0～100 的整数，数值越大结果图片效果越好，但尺寸也越大。</td>
        <td><input type="text" name="get_photo_marktrans" id="get_photo_marktrans" value="{$photo_marktrans}"></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">设置 GIF 类型水印图片与原始图片的融合度,水印透明度（0—100，值越小越透明）：</td>
        <td><input name="get_photo_diaphaneity" type="text" id="get_photo_diaphaneity" value="{$photo_diaphaneity}"></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td height="24">水印位置：</td>
        <td>
            <input class="np" type="radio" name="get_photo_waterpos" value="0" {if condition="$photo_waterpos eq 0"}checked{/if} >
            随机位置
            <table width="300" border="1" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="33%"><input class="np" type="radio" name="get_photo_waterpos" value="1" {if condition="$photo_waterpos eq 1"}checked{/if} >顶部居左</td>
                    <td width="33%"><input class="np" type="radio" name="get_photo_waterpos" value="2" {if condition="$photo_waterpos eq 2"}checked{/if} >顶部居中</td>
                    <td width="33%"><input class="np" type="radio" name="get_photo_waterpos" value="3" {if condition="$photo_waterpos eq 3"}checked{/if} >顶部居右</td>
                </tr>
                <tr>
                    <td><input class="np" type="radio" name="get_photo_waterpos" value="4" {if condition="$photo_waterpos eq 4"}checked{/if} >左边居中</td>
                    <td><input class="np" type="radio" name="get_photo_waterpos" value="5" {if condition="$photo_waterpos eq 5"}checked{/if} >图片中心</td>
                    <td><input class="np" type="radio" name="get_photo_waterpos" value="6" {if condition="$photo_waterpos eq 6"}checked{/if} >右边居中</td>
                </tr>
                <tr>
                    <td><input class="np" type="radio" name="get_photo_waterpos" value="7" {if condition="$photo_waterpos eq 7"}checked{/if} >底部居左</td>
                    <td><input class="np" type="radio" name="get_photo_waterpos" value="8" {if condition="$photo_waterpos eq 8"}checked{/if} >底部居中</td>
                    <td><input class="np" type="radio" name="get_photo_waterpos" value="9" {if condition="$photo_waterpos eq 9"}checked{/if} >底部居右</td>
                </tr>
                </tbody></table></td>
    </tr>

    <tr bgcolor="#F9FCEF">
        <td height="37" colspan="2" >
            <button type="submit" class="layui-btn">提交</button>
        </td>
    </tr>

    </tbody>
    </form>

</table>

{/block}

{block name="script"}
<script type="application/javascript">
layui.use(['form','upload','jquery'], function() {
    var form = layui.form,
        upload = layui.upload,
        $ = layui.jquery;

    var upload_url= "{:url('Upload/upload')}";
    var upload_accept='images';
    var upload_acceptMime='image/*';
    var upload_size=3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            $("#img").show();
            $("#img img").attr('src', res.data.src);
            $("input[name='cover_pic']").val(res.data.src);
        }
        ,error: function(){
            //请求异常回调
        }
    });

})
</script>
{/block}