{extend name="public:base" /}

{block name="content"}
<a href='{:url("sys_group_add")}'>[增加用户组]</a>
<table lay-filter="demoSysAdminUser">
    <thead>
    <tr>
        <th lay-data="{field:'u1'}">Rank</th>
        <th lay-data="{field:'u2'}">组名称</th>
        <th lay-data="{field:'u3'}">管理</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_data" id="vo"}
    <tr>
        <td>{$vo['rank']}</td>
        <td>{$vo['typename']}</td>
        <td>
            <a href='{:url("sys_group_edit", ["rank"=>$vo["rank"]])}'>[权限设定]</a>
            <a href='{:url("/admin/sys_admin_user", ["rank"=>$vo["rank"]])}'>[组用户]</a>
            {if condition="$vo['system'] eq 0"}
            <a href='{:url("sys_group_edit", ["dopost"=>"del","rank"=>$vo["rank"] ])}'>[删除组]</a>
            {/if}
        </td>
    </tr>
    {/volist}

    </tbody>



</table>


{/block}


{block name="script"}
<script type="text/javascript">

</script>
{/block}