{extend name="public:base" /}

{block name="content"}
<a href='{:url("/Admin/sys_admin_user")}' class="layui-btn layui-btn-sm" lay-event="" >[管理系统用户]</a>

<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="rank">权限设定</a>
    <a class="layui-btn layui-btn-xs" lay-event="admin_user">组用户</a>
    {{# if(d.system == 0){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="create">{:lang('create')}</a>
    </div>
</script>
{/block}

{block name="script"}
<script type="text/javascript">
layui.use(['table', 'jquery'], function() {
    var table = layui.table,
        $ = layui.jquery
        , cols = [[
            {field: 'rank', title: 'Rank', width: 80, fixed: 'left'}
            , {field: 'typename', title: '组名称', width: 170}
            , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
        ]]
        , elem = 'table';

    UI.getPageTable(table, "{:url('')}", cols, "#"+elem, 'auth')

    table.on("toolbar("+elem+")", function(obj){
        var data = obj.data
            , layEvent = obj.event;
        if(layEvent === 'create'){
            UI.openLayer("{:url('sys_group_add')}", 800, 740, "#submit", "{:lang('create')}")
        }
    })

    table.on('tool(table)', function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;
        if(layEvent === 'del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            }, obj, "{:url('sys_group_delete')}");
        }else if(layEvent == 'rank') {
            UI.openLayer("{:url('sys_group_edit')}?rank=" + data.rank, 800, 740, "#submit", "权限设定")
        }else if(layEvent == 'admin_user') {
            window.location.href = "{:url('sys_admin_user')}?rank=" + data.rank;
        }

    })

})
</script>
{/block}