{extend name="public:base" /}

{block name="content"}
<table lay-filter="demoSysAdminUser">
    <thead>
    <tr>
        <th lay-data="{field:'u1'}">登录ID</th>
        <th lay-data="{field:'u2'}">笔名</th>
        <th lay-data="{field:'u3'}">级别</th>
        <th lay-data="{field:'u4'}">频道</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_user" id="vo"}
    <tr>
        <td>{$vo['userid']}</td>
        <td>{$vo['uname']}</td>
        <td>{$vo['typename']}</td>
    </tr>
    {/volist}

    </tbody>



</table>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
    </div>
</div>

{/block}


{block name="script"}
<script type="text/javascript">

</script>
{/block}