{extend name="public:base" /}

{block name="content"}
<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{:lang('edit')}</a>
        <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">{:lang('delete')}</a>
        <a href='{:url("content_list", ["id"=>1])}' class="layui-btn layui-btn-xs layui-btn-primary" >[文档]</a>
    </div>
</script>
{/block}

{block name="script"}
<script type="text/javascript">
layui.use(['table', 'jquery'], function() {
    var table = layui.table,
        $ = layui.jquery;

    table.render({
        elem: '#table'
        , url: "{:url('')}?rank={$rank}"
        , method: 'post'
        , request: {}
        , response: {}
        , page: true
        , toolbar: '#toolbarDemo'
        , cols: [[
            {field: 'userid', title: '登录ID', width: 80, fixed: 'left'}
            , {field: 'uname', title: '笔名', width:120,}
            , {field: 'usertype', title: '级别',width: 120,}
            , {field: 'typename', title: '频道',width: 120}
            , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
        ]]
    });

    table.on('tool(table)', function(obj){
        var data = obj.data;
        if(obj.event === 'edit'){
            var src = '{:url("sys_admin_user_edit", ["dopost"=>"edit"])}';
        }else if(obj.event === 'delete'){
            var src = '{:url("sys_admin_user_edit", ["dopost"=>"delete"])}';
        }else if(obj.event === '111'){

        }

    })


})

</script>
{/block}
