{extend name="public:base" /}

{block name="content"}
<table id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a href='{:url("sys_admin_user_edit", ["id"=>1,"dopost"=>"edit"])}' class="layui-btn layui-btn-xs layui-btn-warm">[更改]</a>
        <a href='{:url("sys_admin_user_edit", ["userid"=>1,"dopost"=>"delete"])}' class="layui-btn layui-btn-xs layui-btn-danger" >[删除]</a>
        <a href='{:url("content_list", ["id"=>1])}' class="layui-btn layui-btn-xs layui-btn-primary" >[文档]</a>
    </div>
</script>
{/block}

{block name="script"}
<script type="text/javascript">
layui.use(['table', 'jquery'], function() {
    var table = layui.table,
        $ = layui.jquery;

    table.render({
        elem: '#demo'
        , url: "{:url('')}?rank={$rank}"
        , method: 'post'
        , request: {}
        , response: {}
        , page: true
        , toolbar: '#toolbarDemo'
        , cols: [[
            {field: 'userid', title: '登录ID', width: 80, fixed: 'left'}
            , {field: 'uname', title: '笔名', width:120,}
            , {field: 'usertype', title: '级别',width: 120,}
            , {field: 'typename', title: '频道',width: 120}
            , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
        ]]
    });
})

</script>
{/block}
