@charset "utf-8";
body{color:#545252;font-size:14px;font-family:"微软雅黑";}
a{color:#545252;text-decoration:none;}
a:hover{color:#006acd;text-decoration:none;}
ul,li{list-style:none;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, form, textarea, p, blockquote, th, td,a,img{padding:0;margin:0;border:0;}
.clear{clear:both;}
.hidden{display:none;}
em,i{font-style:normal;}
input{font-size:14px; font-family:"微软雅黑";}

.container{ margin:auto; min-width:1200px; width:100%;}
.content,.theBox,.kuang{ margin:auto;width:980px;}

/********横幅********/
.theBanner{ margin:auto; height:328px; width:980px;}
.banner{width:980px; margin:auto;overflow:hidden;height:328px;position:relative;}
.banner .banList{position:absolute;left:0;height:328px;}
.banner .banList li{height:328px;opacity:0;position:absolute;atransform:scale(0);atransition:transform 0.5s ease 0s, opacity 1.5s ease 0s;z-index:1;}
.banner img{ height:328px; width:980px;}
.banner .banList li.active{opacity:1;transform:scale(1);z-index:2;}
.banner .fomW{position:absolute;bottom:20px;left:50%;height:20px;z-index:9;width:1000px;margin-left:-500px;}
.banner .jsNav{text-align:center;}
.banner .jsNav a{display:inline-block;background:#fff;width:15px;height:15px;border-radius:50%;margin:0 5px;}
.banner .jsNav a.current{background:#fc8f0f;cursor:pointer;}

/********footer********/
.footer{  color:#999; padding-bottom:20px;}
.footer a{ color:#006acd;}
.footer .theCol1{ border-bottom:1px solid #c9c9c9; margin:25px 0 10px 0; padding-bottom:5px; line-height:20px;}
.footer .theCol1 .theLeft{ float:left; width:490px;}
.footer .theCol1 .theLeft a{ margin:0 3px}
.footer .theCol1 .theRight{ float:right; margin-right:40px; position:relative; width:auto;}
.footer .theCol1 .theRight .footerNav{ color:#d0d0d0; text-align:right;}
.footer .theCol1 .theRight .footerNav a{ margin-right:5px; margin-left:5px;}
.footer .theCol1 .theRight .scrollTop{ position:absolute; right:-40px; bottom:0;}
.footer .authentication{ text-align:right;}
.footer .authentication a{ margin-left:15px;}
	.left_li2{
		width:100px;
		float:left;
		margin-top:10px;
		height:40px;
		line-height:40px;

	}
	.left_li2 a{
		margin-left:40px;
		
	}
	.news li{
		margin-left:35px;
		height:40px;
		font-size:18px;
	}
	.xw_body_right img{
		height:auto;
		max-width:550px;
	}



	.fullSlide{position: relative;}
	.fullSlide .bd li {width: 100% !important;height: 500px;text-align: center;}
	.fullSlide .bd li a {display: block;height: 500px;width: 100%;}
	.fullSlide .bd li img{width: 1300px;margin: 0  auto;}
	.fullSlide .hd ul{text-align: center;}
	.fullSlide .hd ul li{display: inline-block;width: 10px;height: 10px;border-radius: 8px;background:rgba(255,255,255,0.5);margin: 4px 5px;text-indent: -9999px;}
	.fullSlide .hd ul .on{width: 32px;border-radius:8px;background: rgba(255,255,255,1);}
	#slideBox .hd{right: 10px;bottom: 15px;position: absolute;width: 100px;height: 18px;}
	#slideBox .hd li{display: inline-block;}
	
	
		.fullSlide .bd li img{width: 1300px;margin: 0  auto;}
	.fullSlide .hd{width: 170px;position: absolute;z-index: 1;bottom: 20px;left: 50%;height: 18px;line-height: 18px;opacity: 0.8;border-radius: 12px;margin-left: -70px;background:rgba(36,84,234,0.2);}
	
	
	
	
	/*foot底部样式*/
	
.footer{
	width:100%;
	background: #101429;
	}
.footer_pr{
	width:1224px;
	height: 196px;
	margin: 0 auto;
	}
.jr_1 img{
    width:148px;
    height:44px;
    padding:45px 60px 80px 0;
    float: left;

}
.ser_mid{
	width:144px;
	height: 105px;
	float: left;
	}
.footer_pr .ser_mid .p1{
	display: block;
	margin:0;
	color: #999;
	font-size: 16px;
	line-height: 30px;
	padding-top: 40px;
	}
.footer_pr .ser_mid .p2{
	display: block;
	margin:0;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	}
.footer_pr .ser_mid .p3{
	display: block;
	margin:0;
	color: #fff;
	font-size: 16px;
	line-height: 30px;
	}
.footer_pr .ser_mid .p4{
	display: block;
	margin:0;
	color: #999;
	font-size: 16px;
	line-height: 30px;
	padding-top: 10px;
	}
.black_line{
	width:1px;
	height:62px;
	background: #999;
	margin:40px 60px 0px 60px;
	float: left;
	}
.footer_mid{
	float: left;

	height: 55px;
	margin:40px 126px 60px 0;
	}
.footer_mid1{
	float: left;

	height: 55px;
	margin:40px 0px 60px 0;
	}
.footer_mid a{
	color: #999;
	font-size: 12px;
	line-height: 20px;

	}
.footer_mid1 a{
	color: #999;
	font-size: 12px;
	line-height:20px;
	}
.footer_last a{
	color: #999;
	font-size: 12px;

	}
.footer_last{
	float: right;
	margin-top: 40px;
	}
.footer_last img{
	width:108px;
	height: 108px;
	margin-top: 16px;

	}
.copyright{
    width:100%;
    background: #101429;
}
.copyright_lr{
    width:1224px;
    height: 116px;
    margin: 0 auto;
}
.copyright_lr img{
    width:20px;
    height: 20px;
    vertical-align: sub;
    margin-right: 6px;
    display: inline-block;
}
.copyright_lr p{
    color: #999;
    font-size: 12px;
    line-height: 20px;
    padding-left: 20px;
    text-align: center;
}