<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>管理后台</title>
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/lib/font-awesome/css/font-awesome.min.css">
    {block name="style"}{/block}
    <link rel="stylesheet" href="/static/admin/css/base.css">
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">管理后台</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
<!--            &lt;!&ndash; 移动端显示 &ndash;&gt;-->
<!--            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">-->
<!--                <i class="layui-icon layui-icon-spread-left"></i>-->
<!--            </li>-->

<!--            <li class="layui-nav-item layui-hide-xs"><a href="/index.html">前台首页</a></li>-->
<!--            <li class="layui-nav-item layui-hide-xs"><a href="">nav 2</a></li>-->
<!--            <li class="layui-nav-item layui-hide-xs"><a href="">nav 3</a></li>-->
<!--            <li class="layui-nav-item">-->
<!--                <a href="javascript:;">nav groups</a>-->
<!--                <dl class="layui-nav-child">-->
<!--                    <dd><a href="">menu 11</a></dd>-->
<!--                    <dd><a href="">menu 22</a></dd>-->
<!--                    <dd><a href="">menu 33</a></dd>-->
<!--                </dl>-->
<!--            </li>-->
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="/index.html" target="_blank" ><i class="fa fa-home" aria-hidden="true"></i>前台首页</a></li>
            <li class="layui-nav-item layui-hide layui-show-md-inline-block">
                <a href="javascript:;">
<!--                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">-->
                    {$user['userid']}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('SysAdminUser/sys_admin_user_edit', ['id'=>$user['id'], 'dopost'=>'edit'])}">个人资料</a></dd>
                    <dd><a href="{:url('SysAdminUser/sys_admin_user_edit', ['id'=>$user['id'], 'dopost'=>'edit'])}">设置</a></dd>
                    <dd><a href="{:url('Login/Logout')}">退出</a></dd>
                </dl>
            </li>
<!--            <li class="layui-nav-item" lay-header-event="menuRight" lay-unselect>-->
<!--                <a href="javascript:;">-->
<!--                    <i class="layui-icon layui-icon-more-vertical"></i>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item {if condition="$_nav_this eq 'Index_index' "} layui-this {/if}"><a href="{:url('Index/index')}"><i class="fa fa-home" aria-hidden="true"></i>首页</a></li>
                <li class="layui-nav-item {if condition="$_nav_itemed eq 'xitong'"}layui-nav-itemed{/if}">
                    <a class="" href="javascript:;"><i class="fa fa-wrench" aria-hidden="true"></i>系统</a>
                    <dl class="layui-nav-child">
                        <dd {if condition="$_nav_this eq 'SysInfo_index' "} class="layui-this" {/if} ><a href="{:url('sys_info/index')}">系统基本参数</a></dd>
                        <dd {if condition="$_nav_this eq 'SysAdminUser_index' "} class="layui-this" {/if}><a href="{:url('sys_admin_user/index')}">系统用户管理</a></dd>
                        <dd {if condition="$_nav_this eq 'SysGroup_index' "} class="layui-this" {/if}><a href="{:url('sys_group/index')}">用户组设定</a></dd>
                        <dd {if condition="$_nav_this eq 'SysInfoMrk_index' "} class="layui-this" {/if}><a href="{:url('sys_info_mrk/index')}">图片水印设置</a></dd>
                        <dd {if condition="$_nav_this eq 'ContentAtt_index' "} class="layui-this" {/if}><a href="{:url('ContentAtt/index')}">自定义文档属性</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item {if condition="$_nav_itemed eq 'hexing'"}layui-nav-itemed{/if}">
                    <a class=" " href="javascript:;"><i class="fa fa-cogs" aria-hidden="true"></i> 核心</a>
                    <dl class="layui-nav-child">
                        <dd {if condition="$_nav_this eq 'CatalogMain_index' "} class="layui-this" {/if}><a href="{:url('CatalogMain/index')}">网站栏目管理</a> </dd>
                        <dd {if condition="$_nav_this eq 'ContentList_index' "} class="layui-this" {/if}><a href="{:url('ContentList/index')}">所有档案列表</a> </dd>
                        <dd {if condition="$_nav_this eq 'ContentList_index2' "} class="layui-this" {/if}><a href="{:url('ContentList/index', ['arcrank'=>-1])}">等审核的文档</a> </dd>
                        <dd {if condition="$_nav_this eq 'MyChannelMain_index' "} class="layui-this" {/if}><a href="{:url('MyChannelMain/index')}">内容模型管理</a> </dd>
                        <dd {if condition="$_nav_this eq 'TagsMain_index' "} class="layui-this" {/if}><a href="{:url('TagsMain/index')}">Tag标签管理</a> </dd>
                    </dl>
                </li>

                <li class="layui-nav-item {if condition="$_nav_itemed eq 'mokuai'"}layui-nav-itemed{/if}">
                    <a href="javascript:;"><i class="fa fa-sitemap" aria-hidden="true"></i>模块</a>
                    <dl class="layui-nav-child">
                        <dd {if condition="$_nav_this eq 'FriendlinkMain_index' "} class="layui-this" {/if}><a href="{:url('FriendlinkMain/index')}">友情链接</a></dd>
                        <dd {if condition="$_nav_this eq 'Sitemap_index' "} class="layui-this" {/if}><a href="{:url('Sitemap/index')}">生成网站地图</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item {if condition="$_nav_itemed eq 'generateHtml'"}layui-nav-itemed{/if}">
                    <a href="javascript:;"><i class="fa fa-leaf" aria-hidden="true"></i>生成静态</a>
                    <dl class="layui-nav-child">
                        <dd {if condition="$_nav_this eq 'Generate_index' "} class="layui-this" {/if}><a href="{:url('Generate/index')}">首页生成</a></dd>
                        <dd {if condition="$_nav_this eq 'Generate_list' "} class="layui-this" {/if}><a href="{:url('Generate/list')}">栏目生成</a></dd>
                        <dd {if condition="$_nav_this eq 'Generate_article' "} class="layui-this" {/if}><a href="{:url('generate/article')}">内容生成</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item {if condition="$_nav_itemed eq 'Guestbook'"}layui-nav-itemed{/if}">
                <a href="javascript:;"><i class="fa fa-commenting" aria-hidden="true"></i>留言板</a>
                <dl class="layui-nav-child">
                    <dd {if condition="$_nav_this eq 'Guestbook_index' "} class="layui-this" {/if}><a href="{:url('Guestbook/index')}">会员留言板</a></dd>
                </dl>
                </li>



<!--                <li class="layui-nav-item">-->
<!--                    <a href="javascript:;">menu group 2</a>-->
<!--                    <dl class="layui-nav-child">-->
<!--                        <dd><a href="javascript:;">list 1</a></dd>-->
<!--                        <dd><a href="javascript:;">list 2</a></dd>-->
<!--                        <dd><a href="">超链接</a></dd>-->
<!--                    </dl>-->
<!--                </li>-->
<!--                <li class="layui-nav-item"><a href="javascript:;">click menu item</a></li>-->
<!--                -->
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-nav" style="background-color:#fff;color:#000000;line-height:30px;height:30px;">
            <span class="layui-breadcrumb">
                {volist name='nav' id='vo' key="k"}
                    {if condition="(count($nav)-1) eq $k "}
                    <a href="{$vo['url']}">{$vo['title']}</a>
                    {else}
                    <a><cite>{$vo['title']}</cite></a>
                    {/if}
                {/volist}
            </span>
        </div>


        <div style="margin:10px;">
            {block name="content"}{/block}
        </div>
        <div style="height:50px;"></div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        底部固定区域
    </div>
</div>


<script src="/static/lib/layui/layui.js"></script>
<script src="/static/admin/js/base.js"></script>
{block name="script"}{/block}
</body>
</html>