{extend name="public:base" /}

{block name="content"}
<form name="form1" action="{:url('')}" method="post" >
    <input type="hidden" name="dopost" value="save" />
    <input type="hidden" name="channelid" value="{$channelid}" />
    <input type="hidden" name="id" value="{$id}" />
<div class="layui-tab" lay-filter="CatalogMain_catalog_add" >
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">常规选项</li>
        <li lay-id="2">高级选项</li>
        <!--        <li lay-id="3">栏目内容</li>-->
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <table width="100%" border="1"  id="needset" cellspacing="0" cellpadding="0" style="border:1px solid #cfcfcf;background:#ffffff;text-align:left;">
                <tr>
                    <td width="150" class='bline' height="26" style="padding-left:10px;">是否支持投稿：</td>
                    <td class='bline'> <input type='radio' name='issend' value='0' class='np' <?php if($myrow['issend']=="0") echo " checked='1' ";?> />
                        不支持&nbsp; <input type='radio' name='issend' value='1' class='np' <?php if($myrow['issend']=="1") echo " checked='1' ";?> />
                        支持 </td>
                </tr>
                <tr>
                    <td width="150" class='bline' height="26" style="padding-left:10px;">是否隐藏栏目：</td>
                    <td class='bline'> <input type='radio' name='ishidden' value='0' class='np'<?php if($myrow['ishidden']=="0") echo " checked='1' ";?>/>
                        显示　&nbsp; <input type='radio' name='ishidden' value='1' class='np'<?php if($myrow['ishidden']=="1") echo " checked='1' ";?>/>
                        隐藏 </td>
                </tr>
                <tr>
                    <td class='bline' height="26" style="padding-left:10px;"><font color='red'>内容模型：</font> </td>
                    <td class='bline'> <select name="channeltype" id="channeltype" style="width:200px" onChange="ParTemplet(this)">
                        {volist name="channelArray" key="k" id="vo"}
                            {if condition="$k eq $channelid"}
                                <option value='{$k}' selected>{$vo['typename']}|{$vo['nid']}</option>
                            {else}
                                <option value='{$k}'>{$vo['typename']}|{$vo['nid']}</option>
                            {/if}
                        {/volist}

                    </select> </td>
                </tr>
                <tr>
                    <td class='bline' height="26" style="padding-left:10px;"><font color='red'>栏目名称：</font></td>
                    <td class='bline'><input name="typename" type="text" id="typename" size="30" value="<?php echo $myrow['typename']?>" class="iptxt" /></td>
                </tr>
                <tr>
                    <td class='bline' height="26" style="padding-left:10px;"> 排列顺序： </td>
                    <td class='bline'> <input name="sortrank" size="6" type="text" value="<?php echo $myrow['sortrank']?>" class="iptxt" />
                        （由低 -&gt; 高） </td>
                </tr>
                <tr>
                    <td class='bline' height="26" style="padding-left:10px;">浏览权限：</td>
                    <td class='bline'> <select name="corank" id="corank" style="width:100">
                        {volist name="ArcrankAll" id="vo" }
                        {if condition="$myrow['corank'] eq $vo->rank"}
                            <option value='"{$vo->rank}"' selected>{$vo->membername}</option>
                        {else}
                            <option value='"{$vo->rank}"'>{$vo->membername}</option>
                        {/if}

                        {/volist}
                    </select>
                        (仅限制栏目里的文档浏览权限) </td>
                </tr>
                <tr>
                    <td class='bline' height="26" style="padding-left:10px;">文件保存目录：</td>
                    <td class='bline'> <input name="typedir" type="text" id="typedir" value="<?php echo $myrow['typedir']?>" style="width:300px"  class="iptxt" />
                    </td>
                </tr>
                <tr>
                    <td height="26" style="padding-left:10px;">栏目列表选项：</td>
                    <td> <input type='radio' name='isdefault' value='1' class='np'<?php if($myrow['isdefault']==1) echo " checked='1' ";?>/>
                        链接到默认页
                        <input type='radio' name='isdefault' value='0' class='np'<?php if($myrow['isdefault']==0) echo " checked='1' ";?>/>
                        链接到列表第一页
                        <input type='radio' name='isdefault' value='-1' class='np'<?php if($myrow['isdefault']==-1) echo " checked='1' ";?>/>
                        使用动态页 </td>
                </tr>
                <tr>
                    <td class='bline' height="26" style="padding-left:10px;">默认页的名称： </td>
                    <td class='bline'><input name="defaultname" type="text" value="<?php echo $myrow['defaultname']?>" class="iptxt" /></td>
                </tr>
                <tr>
                    <td height="26" class='bline' style="padding-left:10px;">栏目属性：</td>
                    <td class='bline'>
                        <input name="ispart" type="radio" id="radio" value="0" class='np'<?php if($myrow['ispart']==0) echo " checked='1' ";?>/>
                        最终列表栏目（允许在本栏目发布文档，并生成文档列表）<br>
                        <input name="ispart" type="radio" id="radio2" value="1" class='np'<?php if($myrow['ispart']==1) echo " checked='1' ";?>/>
                        频道封面（栏目本身不允许发布文档）<br>
                        <input name="ispart" type="radio" id="radio3" value="2" class='np'<?php if($myrow['ispart']==2) echo " checked='1' ";?>/>
                        外部连接（在"文件保存目录"处填写网址）
                    </td>
                </tr>
                <tr id='helpvarco' style='display:none'>
                    <td height="80" bgcolor="#F3F7EA" style="padding-left:10px;">栏目交叉说明： </td>
                    <td bgcolor="#F3F7EA">
                        交叉栏目是指一个大栏目与另一个非下级的子栏目出现交叉的情况，相当于系统原来的副栏目功能，不过现在改在栏目里预先设置好。<br />例如：
                        网站上有大栏目——智能手机、音乐手机，另外又有栏目——诺基亚-&gt;智能手机、诺基亚-&gt;音乐手机，这样顶级的大栏目就和另一个大栏目的子栏目形成了交叉，这样只需要在大栏目中指定交叉的栏目即可。
                        <br />注：会自动索引交叉栏目的内容，但不会索引交叉栏目下级栏目的内容，这种应用也适用于按地区划分资讯的站点。
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:10px;">栏目交叉：<br />仅适用[最终列表栏目]</td>
                    <td class='bline' style="padding:3px 0px 3px 0px">
                        <input name="cross" type="radio" id="cross0" onClick="CheckCross()" value="0" class='np'<?php if($myrow['cross']==0) echo " checked='1' ";?> />
                        不交叉
                        <input name="cross" type="radio" id="cross1" onClick="CheckCross()" value="1" class='np'<?php if($myrow['cross']==1) echo " checked='1' ";?>/>
                        自动获取同名栏目内容
                        <input name="cross" type="radio" id="cross2" onClick="CheckCross()" value="2" class='np'<?php if($myrow['cross']==2) echo " checked='1' ";?>/>
                        手工指定交叉栏目ID(用逗号分开)
                        <br />
                        <textarea name="crossid" cols="50" rows="3" id="crossid" style="<?php if($myrow['cross']!=2) echo "display:none";?>" class="alltxt" ><?php echo $myrow['crossid']; ?></textarea>
                    </td>
                </tr>
                <tr id='smclass' style='<?php echo ($channelid<0 ? '' : 'display:none'); ?>'>
                <td class='bline' style="padding-left:10px;">绑定小分类：  <br />仅适用[分类信息模型]</td>
                <td class='bline' style="padding:3px 0px 3px 0px">
                    <select name='smalltype[]' size='5' style='width:120px' multiple='yes'>

                        <?php $smtypes = explode(',', trim($myrow['smalltypes'])); ?>
                        {volist name="SysEnumAll" id="vo"}
                            <?php if(in_array($vo['evalue'], $smtypes)) {
                                $selstr = " selected='1' ";
                            }else {
                                $selstr = '';
                            } ?>
                            {if condition="$vo['evalue']%500 eq 0"}
                                <option value='{$vo['evalue']}'{$selstr}>{$vo['ename']}</option>
                            {elseif(preg_match("#\.#", $vo['evalue']))}
                                <option value='{$vo['evalue']}'{$selstr}> └───{$vo['ename']}</option>
                            {else}
                                <option value='{$vo['evalue']}'{$selstr}> └─{$vo['ename']}</option>
                            {/if}
                        {/volist}

                    </select>
                    按 Ctrl 多选，不选系统将调用全部分类，在<a href='stepselect_main.php'>“<u>联动类别管理</u>”</a>中管理
                </td>
                </tr>
            </table>
            <div>
                <button type="submit" class="layui-btn layui-btn-xs">提交</button>
            </div>
        </div>

        <div class="layui-tab-item">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #cfcfcf;background:#ffffff;text-align:left;" id="adset">
                <tr>
                    <td class='bline' width="150" height="24" style="padding-left:10px;">多站点支持：</td>
                    <td class='bline'> <input name="moresite" type="radio"  class="np" value="0"<?php if($myrow['moresite']==0) echo " checked='1' ";?>/>
                        不启用
                        <input type="radio" name="moresite" class="np" value="1"<?php if($myrow['moresite']==1) echo " checked='1' ";?>/>
                        启用 </td>
                </tr>
                <tr>
                    <td height="24" bgcolor="#F9FCEF" style="padding-left:10px;">说明：</td>
                    <td bgcolor="#F9FCEF">绑名绑定仅需要在顶级栏目设定，子级栏目更改无效。</td>
                </tr>
                <tr>
                    <td class='bline' height="24" style="padding-left:10px;">绑定域名：</td>
                    <td class='bline'> <input name="siteurl" type="text" id="siteurl" size="35" value="<?php echo $myrow['siteurl']?>" class="iptxt" />
                        (需加 http://，一级或二级域名的根网址) </td>
                </tr>
                <tr>
                    <td class='bline' height="24" style="padding-left:10px;">站点根目录：</td>
                    <td class='bline'>
                        为简化操作，站点根目录与当前栏目目录一致，请注意当前栏目文件保存目录的设置，域名需自行手工绑定到这个目录。
                    </td>
                </tr>
                <tr id='helpvar1' style='display:none'>
                    <td height="24" bgcolor="#F9FCEF" style="padding-left:10px;">支持变量： </td>
                    <td bgcolor="#F9FCEF"> {tid}表示栏目ID，<br>
                        {cid}表示频道模型的'名字ID' <font color='#888888'> （
                            {volist name="channelArray" id="vo"}
                                {$vo['typename']}({$vo['nid']})
                            {/volist}
                            ） </font> <br/>
                        模板文件的默认位置是放在模板目录 "cms安装目录
                        <?php echo $cfg_templets_dir ?>
                        " 内。
                        <input type='hidden' value='{style}' name='dfstyle' /> </td>
                </tr>
                <tr>
                    <td height="26" style="padding-left:10px;">封面模板：</td>
                    <td>
                        <input name="tempindex" type="text" value="<?php echo $myrow['tempindex']?>" style="width:300px" class="iptxt" />
                        <input type="button" name="set1" value="浏览..." class="coolbg np" style="width:60px" onClick="SelectTemplets('form1.tempindex');"/>
                    </td>
                </tr>
                <tr>
                    <td height="26" style="padding-left:10px;">列表模板：</td>
                    <td>
                        <input name="templist" type="text" value="<?php echo $myrow['templist']?>" style="width:300px" class="iptxt" />
                    </td>
                </tr>
                <tr>
                    <td height="26" style="padding-left:10px;">文章模板：</td>
                    <td>
                        <input name="temparticle" type="text" value="<?php echo $myrow['temparticle']?>" style="width:300px"  class="iptxt" />
                    </td>
                </tr>
                <tr id='helpvar2' style='display:none'>
                    <td height="24" bgcolor="#F9FCEF" style="padding-left:10px;">支持变量： </td>
                    <td height="24" bgcolor="#F9FCEF"> {Y}、{M}、{D} 年月日<br/>
                        {timestamp} INT类型的UNIX时间戳<br/>
                        {aid} 文章ID<br/>
                        {pinyin} 拼音+文章ID<br/>
                        {py} 拼音部首+文章ID<br/>
                        {typedir} 栏目目录 <br/>
                        {cc} 日期+ID混编后用转换为适合的字母 <br/>
                    </td>
                </tr>
                <tr>
                    <td height="26" style="padding-left:10px;">文章命名规则：</td>
                    <td>
                        <input name="namerule" type="text" id="namerule" value="<?php echo $myrow['namerule']?>" size="40" class="iptxt" />

                    </td>
                </tr>
                <tr id='helpvar3' style='display:none'>
                    <td height="24" bgcolor="#F9FCEF" style="padding-left:10px;">支持变量： </td>
                    <td bgcolor="#F9FCEF">{page} 列表的页码</td>
                </tr>
                <tr>
                    <td height="26" style="padding-left:10px;">列表命名规则：</td>
                    <td>
                        <input name="namerule2" type="text" id="namerule2" value="<?php echo $myrow['namerule2']?>" size="40" class="iptxt" />
                    </td>
                </tr>
                <tr>
                    <td height="65" style="padding-left:10px;">SEO标题：</td>
                    <td>
                        <input name="seotitle" type="text" style="width:250px" id="seotitle" class="alltxt" value="<?php echo $myrow['seotitle']?>" />
                        (栏目模板里用{dede:field.seotitle /}调用)
                    </td>
                </tr>
                <tr>
                    <td height="65" style="padding-left:10px;">关键字：</td>
                    <td> <textarea name="keywords" cols="70" rows="4" id="keywords"  class="alltxt" ><?php echo $myrow['keywords']?></textarea>
                    </td>
                </tr>
                <tr>
                    <td height="65" style="padding-left:10px;">栏目描述：</td>
                    <td height="65"><textarea name="description" cols="70" style="height:50px" rows="4" id="description" class="alltxt" ><?php echo $myrow['description']?></textarea></td>
                </tr>
                <tr>
                    <td height="45" style="padding-left:10px;">继承选项：</td>
                    <td>
                        <input name="upnext" type="checkbox" id="upnext" value="1" class="np"/>
                        同时更改下级栏目的浏览权限、内容类型、模板风格、命名规则等通用属性
                    </td>
                </tr>
            </table>
            <div>
                <button type="submit" class="layui-btn layui-btn-xs">提交</button>
            </div>
        </div>
    </div>
</div>
</form>
{/block}

{block name="script"}
<script>

function SelectTemplets(fname)
{
    var posLeft = 200;
    var posTop = 300;
    window.open("{:url('select_templets')}?f="+fname, "poptempWin", "scrollbars=yes,resizable=yes,statebar=no,width=600,height=400,left="+posLeft+", top="+posTop);
}


</script>
{/block}