{extend name="public:base" /}

{block name="content"}
<div class="layui-tab" lay-filter="tabDemo" lay-allowClose="true">
    <ul class="layui-tab-title">
        <li class="layui-this" lay-id="1">常规选项</li>
        <li lay-id="2">高级选项</li>
        <li lay-id="3">栏目内容</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <form class="layui-form layui-form-pane1" action="" lay-filter="first">

                <div class="layui-form-item">
                    <label class="layui-form-label">是否支持投稿</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="不支持">
                        <input type="radio" name="sex" value="女" title="支持" checked>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否隐藏栏目</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="显示">
                        <input type="radio" name="sex" value="女" title="隐藏" checked>
                    </div>
                </div>

                <div class="layui-inline">
                    <label class="layui-form-label">内容模型</label>
                    <div class="layui-input-block">
                        <select name="quiz" lay-verify="required" lay-verType="tips"  lay-filter="quiz111">
                            <option value="">请选择问题</option>
                            <option value="0">你工作的 第一个城市</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">栏目名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">排列顺序</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">浏览权限</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">上级目录</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">文件保存目录</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="标题不能为空" required placeholder="请输入标题" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">目录相对位置</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="上级目录">
                        <input type="radio" name="sex" value="女" title="CMS根目录">
                        <input type="radio" name="sex" value="中型" title="站点根目录">
                    </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">栏目列表选项</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="链接到默认页">
                        <input type="radio" name="sex" value="女" title="链接到列表第一页">
                        <input type="radio" name="sex" value="中型" title="使用动态页">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">默认页的名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" lay-verify="required|title" lay-reqText="" required placeholder="" autocomplete="off" class="layui-input" >
                    </div>
                </div>

                <div class="layui-form-item" >
                    <label class="layui-form-label">栏目属性</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="最终列表栏目（允许在本栏目发布文档，并生成文档列表）"><br/>
                        <input type="radio" name="sex" value="女" title="频道封面（栏目本身不允许发布文档）"><br/>
                        <input type="radio" name="sex" value="中型" title="使用动态页"><br/>
                    </div>
                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-block">
                        <input type="tel" name="phone" lay-verify="required|number" lay-verType="tips" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="email" name="email" lay-verify="email"  lay-verType="alert" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="required|pass" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请务必填写用户名</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">范围</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="price_min" placeholder="￥" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="price_max" placeholder="￥" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">select分组</label>
                        <div class="layui-input-block">
                            <select name="quiz" lay-filter="quiz">
                                <option value="">请选择问题</option>
                                <optgroup label="城市记忆">
                                    <option value="0">你工作的第一个城市</option>
                                </optgroup>
                                <optgroup label="学生时代">
                                    <option value="1" disabled>你的工号</option>
                                    <option value="2">你最喜欢的老师</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select name="interest" lay-filter="interest">
                            <option value=""></option>
                            <option value="0">写作</option>
                            <option value="1">阅读</option>
                            <option value="2">游戏</option>
                            <option value="3">音乐</option>
                            <option value="4">旅行</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">搜索选择框</label>
                    <div class="layui-input-inline">
                        <select name="interest-search" lay-filter="interest-search" lay-search>
                            <option value="">请搜索</option>
                            <option value="写作">写作</option>
                            <option value="阅读" disabled>阅读</option>
                            <option value="游戏" disabled>游戏</option>
                            <option value="音乐">音乐</option>
                            <option value="旅行">旅行</option>
                            <option value="读书">读书</option>
                            <option value="1">layer</option>
                            <option value="2" disabled>laydate</option>
                            <option value="3">3</option>
                            <option value="4">layim</option>
                            <option value="5">laypage</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item" pane>
                    <label class="layui-form-label">复选框</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like[write]" title="写作">
                        <input type="checkbox" name="like[read]" title="阅读">
                        <input type="checkbox" name="like[game]" title="游戏" disabled>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">原始复选框</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="like1[write]" lay-skin="primary" title="写作">
                        <input type="checkbox" name="like1[read]" lay-skin="primary" title="阅读">
                        <input type="checkbox" name="like1[game]" lay-skin="primary" title="游戏" disabled>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">开关关</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="close" lay-skin="switch" title="开关">
                        <input type="checkbox" name="close2" lay-skin="switch" title="开关" lay-text="ON|OFF" disabled>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">开关开</label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF">
                        <input type="checkbox" name="open2" lay-skin="switch" lay-filter="switchTest" lay-text="已绑定|绑定">
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">单选框</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男">
                        <input type="radio" name="sex" value="女" title="女" checked>
                        <input type="radio" name="sex" value="中型" title="中" disabled>
                    </div>
                </div>
                <div class="layui-form-item" pane>
                    <label class="layui-form-label">单选框</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex.id" value="男" title="男">
                        <input type="radio" name="sex.id" value="女" title="女" checked>
                        <input type="radio" name="sex.id" value="中型" title="中">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">请填写描述</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="layui-tab-item">2</div>
        <div class="layui-tab-item">3</div>
    </div>
</div>
{/block}