{extend name="public:base" /}

{block name="content"}
<a href="{:url('makehtml_list')}" class="layui-btn layui-btn-sm" lay-event="detail">更新栏目HTML</a>
<a href="{:url('makehtml_archives')}" class="layui-btn layui-btn-sm" lay-event="detail">更新文档HTML</a>

<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{:lang('edit')}</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
    </div>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="create">{:lang('create')}</a>
    </div>
</script>

{/block}

{block name="script"}
<script>
layui.use(['table', 'jquery'], function(){
    var table = layui.table,
        $ = layui.jquery;

    //第一个实例
    table.render({
        elem: '#table'
        ,url: "{:url('')}"
        ,method: 'post'
        ,request: {}
        ,response: {}
        ,page: true
        , toolbar: '#toolbarDemo'
        ,cols: [[
            {field: 'id', title: 'ID', width:80,fixed: 'left'}
            , {field: 'typename', title: '网站名称', width: 180}
            , {fixed: 'right',title: '操作', width: 150, align: 'center', toolbar: '#barDemo'}
        ]]
    });

    table.on('tool(table)', function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        if(layEvent === 'del'){
            layer.confirm('真的删除行么', function(index) {
                $.post("{:url('catalog_del')}", {id:data.id}, function (objs) {
                    if(objs.code == 200) {
                        layer.msg(objs.msg, {icon: 1}, function () {
                            obj.del();
                            layer.close(index);
                        })
                    } else {
                        layer.msg(objs.msg, {icon: 2});
                    }
                }, 'json');
            })
        }else if(layEvent === 'edit'){
            layer.open({
                type : 2
                , title : '编辑'
                , area : ['800px', '750px']
                , btn: ["提交", "关闭"]
                , content: "{:url('catalog_edit')}?id=" +data.id
                , yes: function(index, layero){
                    var submit = layero.find('iframe').contents().find("#submit");
                    submit.click();
                }
                , btn2: function(index, layero){
                    layer.close(index)
                }
            })
        }

    })

    table.on("toolbar(table)", function (obj){
        var data = obj.data
            , layEvent = obj.event;

        if(layEvent === 'add'){
            layer.open({
                type : 2
                , title : '新建'
                , area : ['800px', '750px']
                , btn: ["提交", "关闭"]
                , content: "{:url('catalog_add', ['listtype'=>'all'])}"
                , yes: function(index, layero){
                    var submit = layero.find('iframe').contents().find("#submit");
                    submit.click();
                }
                , btn2: function(index, layero){
                    layer.close(index)
                }
            })
        }
    })

});
</script>
{/block}