{extend name="public:base" /}

{block name="content"}

    <form name='form2' action="{:url('/Admin/content_list')}" method="get" target='stafrm'>
        <input type='hidden' name='nullfield' value='ok'>
    </form>
    <form name="form1" action="{:url('/Admin/CatalogMain/makehtml_archives_action')}" class="layui-form" method="get" target='stafrm'>
        <div class="layui-form-item">
            <div height="28" colspan="2" >
                <div style="padding-left:10px;float:left;width: 100px"><strong>更新文档HTML：</strong></div>
                <div style="float: right;width: 200px;text-align:right;margin-right:20px;">
                    <a href="{:url('/Admin/CatalogMain/makehtml_list')}?typeid=<?php echo (isset($typeid) ? $typeid : 0); ?>" class="np coolbg">更新栏目HTML</a>
                </div>
                <div style="clear: none;"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">选择栏目：</label>
            <div class="layui-input-inline">
                <select name='typeid' style='width:300px'>
                    <option value='0' selected='1'>更新所有栏目...</option>
                    {volist name="ArctypeAll" id="vo"}
                    <option value="{$vo->id}">{$vo->typename}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline" >
                <label class="layui-form-label" style="width:100px;">起始ID：</label>
                <div class="layui-input-inline">
                    <input name="startid" type="text" id="startid" size="10" value="" class="layui-input">
                    <div class="layui-form-mid layui-word-aux">（空或0表示从头开始）</div>
                </div>
            </div>
            <div class="layui-inline" >
                <label class="layui-form-label" >结束ID：</label>
                <div class="layui-input-inline">
                    <input name="endid" type="text" id="endid" size="10" value="" class="layui-input" />
                    <div class="layui-form-mid layui-word-aux">（空或0表示直到结束ID）</div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">更新PC||移动：</label>
            <div class="layui-input-block">
                <input name="uptype" type="radio" value="0" class="mkpc" checked title="PC" >
                <input name="uptype" type="radio" class="np" value="mkmobile" title="移动">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:100px;">每页生成：</label>
            <div class="layui-input-inline" style="width:auto;">
                <input name="pagesize" type="text" id="pagesize" value="20" size="8" class="layui-input" style="width:50px;" >
            </div>
            <div class="layui-form-mid layui-word-aux">个文件</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input name="b112" type="button" class='layui-btn layui-btn-sm' value="开始生成HTML" onClick="document.form1.submit();" >
                <?php if($cfg_remote_site=='Y'){ ?>
                <input name="isremote" type="checkbox" id="isremote" value="1">
                是否同步远程发布到
                <?php GetFtp();?>
                <?php } ?>
                <input type="button" name="b113" value="查看所有文档"  class='layui-btn layui-btn-sm' onClick="document.form2.submit();"></div>
        </div>
    </form>

<table width="98%" border="1" cellpadding="3" cellspacing="1" bgcolor="#D6D6D6" align="center">
    <tr bgcolor="#F9FCEF">
        <td height="20" colspan="2"> <table width="100%">
            <tr>
                <td width="74%">进行状态： </td>
                <td width="26%" align="right">
                    <script language='javascript'>
                        function ResizeDiv(obj,ty)
                        {
                            if(ty=="+") document.all[obj].style.pixelHeight += 50;
                            else if(document.all[obj].style.pixelHeight>80) document.all[obj].style.pixelHeight = document.all[obj].style.pixelHeight - 50;
                        }
                    </script>
                    [<a href='#' onClick="ResizeDiv('mdv','+');">增大</a>] [<a href='#' onClick="ResizeDiv('mdv','-');">缩小</a>]
                </td>
            </tr>
        </table></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td colspan="2" id="mtd">
            <div id='mdv' style='width:100%;height:350px;'>
                <iframe name="stafrm" frameborder="0" id="stafrm" width="100%" height="100%"></iframe>
            </div>
        </td>
    </tr>
</table>
{/block}