{extend name="public:base" /}

{block name="content"}

    <form name="form1" action="{:url('Admin/CatalogMain/makehtml_list_action')}" method="get" target='stafrm' class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;" >更新栏目HTML：</label>
            <div class="layui-input-block" style="text-align: right;">
                <a href="{:url('/Admin/CatalogMain/makehtml_archives', ['typeid'=>0])}" class="layui-btn layui-btn-sm">更新文档HTML</a>
                <a href="{:url('/Admin/catalog_main')}" class="layui-btn layui-btn-sm">栏目管理</a>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 120px;">更新PC||移动：</label>
            <div class="layui-input-block">
                <input type="radio" name="uptype" value="0" checked title="PC" >
                <input type="radio" name="uptype" value="mkmobile" title="移动">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;">选择栏目：</label>
            <div class="layui-input-inline">
                <select name='typeid' >
                    <option value='0' selected='1'>更新所有栏目...</option>
                    {volist name="ArctypeAll" id="vo"}
                    <option value="{$vo->id}">{$vo->typename}</option>
                    {/volist}
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;">每次最大创建页数：</label>
            <div class="layui-input-inline" >
                <input name="maxpagesize" type="text" id="maxpagesize" value="50" size="10" class="layui-input" style="width:120px;" >个文件
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label" style="width:120px;">是否更新子栏目：</label>
            <div class="layui-input-block" >
                <input type="radio" name="upnext" value="1" checked='1' />更新子级栏目
                <input type="radio" name="upnext" value="0" />仅更新所选栏目
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input name="b112" type="button" value="开始生成HTML" onClick="document.form1.submit();" class="layui-btn">
                <?php if($cfg_remote_site=='Y'){ ?> 　
                <input name="isremote" type="checkbox" id="isremote" value="1">是否同步远程发布
                <?php GetFtp();?>
                <?php } ?>
            </div>
        </div>

    </form>

<table>
    <tr>
        <td height="20" colspan="2">
            <table width="100%">
            <tr>
                <td width="74%">进行状态： </td>
                <td width="26%" align="right"> <script language='javascript'>
                    function ResizeDiv(obj,ty)
                    {
                        if(ty=="+") document.all[obj].style.pixelHeight += 50;
                        else if(document.all[obj].style.pixelHeight>80) document.all[obj].style.pixelHeight = document.all[obj].style.pixelHeight - 50;
                    }
                </script>
                    [<a href='#' onClick="ResizeDiv('mdv','+');">增大</a>] [<a href='#' onClick="ResizeDiv('mdv','-');">缩小</a>]
                </td>
            </tr>
        </table></td>
    </tr>
    <tr bgcolor="#FFFFFF">
        <td colspan="2" id="mtd">
            <div id='mdv' style='width:100%;height:350px;'>
                <iframe name="stafrm" frameborder="0" id="stafrm" width="100%" height="100%"></iframe>
            </div>
        </td>
    </tr>
</table>
{/block}

{block name="script"}
<script>
layui.use(['form'], function() {
    var form = layui.form;
});
</script>
{/block}