{extend name="public:base" /}

{block name="content"}
<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{:lang('edit')}</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
    </div>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="create">{:lang('create')}</a>
    </div>
</script>
{/block}

{block name="script"}
<script>
layui.use(['table', 'jquery'], function(){
    var table = layui.table
        , $ = layui.jquery
        , _cols = [[
            {field: 'id', title: 'ID', width:80,fixed: 'left'}
            ,{field: 'typename', title: '频道名称', width:180}
            ,{field: 'nid', title: '识别ID', width:180}
            ,{field: 'addtable', title: '附加表:', width:140}
            ,{field: 'isshow', title: '状态', width:80}
            ,{field: 'ischeck', title: '模型', width:90}
            ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}
        ]]
        , elem = 'table';

    UI.getPageTable(table, "{:url('')}", _cols, "#"+elem, 'auth')

    table.on('tool(table)', function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;
        if(layEvent === 'del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            });
        }else if(layEvent === 'edit'){
            UI.openLayer("{:url('mychannel_edit')}?id=" +data.id, 800, 740, "#submit", "{:lang('edit')}")
        }
    })

    table.on("toolbar(table)", function(obj){
        var layEvent = obj.event;
        if(layEvent === 'create'){
            UI.openLayer("{:url('mychannel_add')}", 800, 740, "#submit", "{:lang('create')}")
        }
    })

});
</script>
{/block}