{extend name="public:base" /}

{block name="content"}
<a href="{:url('mychannel_add')}" class="layui-btn layui-btn-xs" lay-event="edit">增加新模型</a>
<table lay-filter="demoMyChannelMain">
    <thead>
    <tr>
        <th lay-data="{field:'f1'}">频道名称</th>
        <th lay-data="{field:'f2'}">识别ID</th>
        <th lay-data="{field:'f3'}">附加表</th>
        <th lay-data="{field:'f4'}">状态</th>
        <th lay-data="{field:'f5'}">模型</th>
        <th lay-data="{field:'f6'}">管理</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_data" id="vo"}
    <tr>
        <td>{$vo['typename']}</td>
        <td>{$vo['nid']}</td>
        <td>{$vo['addtable']}</td>
        <td>{$vo['isshow']|GetSta=###, $vo['id']}</td>
        <td>{$vo['issystem']|IsSystem}</td>
        <td>
            <a href="{:url('mychannel_edit', ['id'=>$vo['id'],'dopost'=>'edit'])}" class="layui-btn layui-btn-xs" lay-event="edit">更改</a>
            <a href="{:url('mychannel_delete', ['id'=>$vo['id'],'dopost'=>'delete'])}" class="layui-btn layui-btn-xs" lay-event="edit">删除</a>
        </td>

    </tr>
    {/volist}

    </tbody>

</table>

{/block}