{extend name="public:base" /}

{block name="style"}
<style type="text/css">
.label-required-next:after {top: 6px;right: -15px;color: red;content: '*';position: absolute;margin-left: 4px;font-weight: 700;line-height: 1.8em;}
</style>
{/block}

{block name="content"}
<form class="layui-form" >
    <input type='hidden' name='action' value='save' />
    <input type='hidden' name='id' value='<?php echo $id?>' />
    <input type='hidden' name='fieldstring' value='' />
    <table width="98%" border="1" cellpadding="1" cellspacing="1" align="center" class="layui-table" style="">
        <tr>
            <td colspan="2" style="padding:0" >
                <table width="98%" border="0" rules="none">
                    <tr>
                        <td width="30%" style="padding-left:10px;">
                            <a href="{:url('index')}"><b>频道管理</b></a> <b> &gt;&gt; 增加新字段：</b>
                        </td>
                        <td align="right">
                            <input type="button" name="ss1" value="当前模型信息" onClick="location='{:url('mychannel_edit', ['id'=>$id,'dopost'=>'edit'])}';" class="layui-btn layui-btn-xs"/>
                            <input type="button" name="ss12" value="内容模型管理" onClick="location='{:url('/Admin/MyChannelMain')}';"  class="layui-btn layui-btn-xs layui-btn-warm"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" ><span class="STYLE1">所有填写的内容不允许包含双引号[<strong>&quot;</strong>]，否则配置将无法写入。</span></td>
        </tr>
        <tr>
            <td >
                <strong>表单提示文字：</strong><br>
                <span class="STYLE2">发布内容时显示的提示文字</span>
            </td>
            <td >
                <div class="layui-input-inline">
                    <input name="itemname" type="text" id="" class="layui-input" />
                    <p class="help-block label-required-next"></p>
                </div>
            </td>
        </tr>
        <tr>
            <td width="300px;" ><strong>字段名称：</strong><br>
                <span class="STYLE2">只能用英文字母或数字，数据表的真实字段名，如果数据类型是联动类型，该项应该填写联动类型的<a href='stepselect_main.php' target='_blank'><u>[组名称]</u></a>。</span>
            </td>
            <td >
                <div class="layui-input-inline">
                    <input name="fieldname" type="text" id="fieldname" class="layui-input" />
                    <span class="label-required-next" ></span>
                </div>
            </td>
        </tr>
        <tr>
            <td ><strong>字段类型：</strong></td>
            <td >
                <input name="autofield" type="radio" value="1" class="np" checked="checked" title="系统自动生成表单字段" />
                <input type="radio" name="autofield" class="np" value="0" title="已经固化在发布表单中字段" />

            </td>
        </tr>
        <tr>
            <td ><strong>前台参数：</strong></td>
            <td >
                <input name="islist" type="checkbox" lay-skin="primary" class="" id="islist" value="1" title="使字段可以在列表的底层模板中获得(自定义字段默认仅能在文档模板显示，启用此选项将使列表查询变慢，如无必要请不要选择)" />
                <input name="notsend" type="checkbox" lay-skin="primary" class="" id="notsend" value="1" title="前台投稿及采集规则禁用本字段" />
            </td>
        </tr>
        <tr>
            <td >
                <strong>内容是否需要分页符：</strong><br/>
                <span class="STYLE2">如果内容需要分页符，不论何种内容，都可以用#P#副标题#e#作为分页符号实现内容分页，但一个模型里仅允许一个这样的字段!</span>
            </td>
            <td >
                <input name="isnull" type="hidden" value="1" />
                <input name="spage" type="radio"  value="split" title="是" />
                <input name="spage" type="radio"  value="no" checked title="否" />
            </td>
        </tr>
        <tr>
            <td >
                <strong>数据类型：</strong>
            </td>
            <td >
                <input type="radio" name="dtype" value="text" title="单行文本(varchar)" checked >
                <input type="radio" name="dtype" value="textchar" title="单行文本(char)">
                <input type="radio" name="dtype" value="multitext" title="多行文本">
                <input type="radio" name="dtype" value="htmltext" title="HTML文本">
                <input type="radio" name="dtype" value="textdata" title="文本保存HTML数据">
                <input type="radio" name="dtype" value="int" title="整数类型">
                <input type="radio" name="dtype" value="float" title="小数类型">
                <input type="radio" name="dtype" value="datetime" title="时间类型">
                <input type="radio" name="dtype" value="img" title="图片">
                <input type="radio" name="dtype" value="imgfile" title="图片(仅网址)">
                <input type="radio" name="dtype" value="media" title="多媒体文件">
                <input type="radio" name="dtype" value="addon" title="附件类型">
                <input type="radio" name="dtype" value="select" title="使用option下拉框">
                <input type="radio" name="dtype" value="radio" title="使用radio选项卡">
                <input type="radio" name="dtype" value="checkbox" title="Checkbox多选框">
                <input type="radio" name="dtype" value="stepselect" title="联动类型">
            </td>
        </tr>
        <tr>
            <td ><strong>默认值：</strong><br>
                <span class="STYLE2">如果定义数据类型为select、radio、checkbox时，此处填写被选择的项目(用“,”分开，如“男,女,人妖”)。</span>
            </td>
            <td >
                <textarea name="vdefault" type="text" id="vdefault" class="layui-textarea" style="width:70%;height:60px"></textarea>
            </td>
        </tr>
        <tr>
            <td >
                <strong>最大长度：</strong><br>
                <span class="STYLE2">文本数据必须填写，大于255为text类型</span>
            </td>
            <td >
                <input name="maxlength" type="text" id="maxlength" class="layui-input" value="250" style="width:80px;" />
            </td>
        </tr>
        <tr>
            <td ><strong>自定义表单HTML：</strong></td>
            <td >
                ◆自定义表单HTML模板中用~name~表示提示文字，~form~表示表单元素。
            </td>
        </tr>
        <tr>
            <td align="center" ></td>
            <td >
                <textarea name="vinnertext" cols="45" rows="5" id="vinnertext" class="layui-textarea" style="width:70%; height:120px;"></textarea>
            </td>
        </tr>

    </table>

    <div class="layui-form-item">

        <button type="submit" class="layui-btn layui-btn-xs" lay-filter="submit" lay-submit="" >提交</button>
    </div>
</form>
{/block}

{block name="script"}
<script type="application/javascript">
    layui.use(['form','upload','jquery'], function() {
        var form = layui.form,
            upload = layui.upload,
            $ = layui.jquery;

        var upload_url= "{:url('Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                $("#logoimgImg").show();
                $("#logoimgImg img").attr('src', res.data.src);
                $("input[name='logoimg']").val(res.data.src);
                $("input[name='logo']").val(res.data.src);
            }
            ,error: function(){
                //请求异常回调
            }
        });

        form.on('submit(submit)', function(data){
            $.post("{:url('')}", data.field, function(obj){
                if(obj.code == 1){
                    layer.msg(obj.msg , function(){
                        window.location.href = "{:url('index')}"
                    })
                }else {
					layer.msg(obj.msg);
				}
            }, 'json')
            return false;
        });

    })
</script>
{/block}