{extend name="public:base" /}

{block name="content"}

<table width="98%" border="1" align="center" cellpadding="3" cellspacing="1" bgcolor="#D6D6D6">
    <tr>
    </tr>
    <tr>
        <td height="200" bgcolor="#FFFFFF" valign="top">
            <form action="{:url('friendlink_add')}" method="post" enctype="multipart/form-data" name="form1" onSubmit="return CheckSubmit();";>
                <input type="hidden" name="dopost" value="add" />
                <table width="80%"  border="0" cellspacing="1" cellpadding="3">
                    <tr>
                        <td width="19%" height="25">网址：</td>
                        <td width="81%">
                            <input name="url" type="text" id="url" value="http://" size="30" class='pubinputs' />
                        </td>
                    </tr>
                    <tr>
                        <td height="25">网站名称：</td>
                        <td>
                            <input name="webname" type="text" id="webname" size="30" class='pubinputs' />
                        </td>
                    </tr>
                    <tr>
                        <td width="19%" height="25">排列位置：</td>
                        <td width="81%">
                            <input name="sortrank" type="text" id="sortrank" value="1" size="10" class='pubinputs' style='width:60px' />
                            (由小到大排列)
                        </td>
                    </tr>
                    <tr>
                        <td height="25">网站Logo：</td>
                        <td>
                            <input name="logo" type="text" id="logo" size="30" class='pubinputs' />
                            (88*31 gif或jpg)
                        </td>
                    </tr>
                    <tr>
                        <td height="25">上传Logo：</td>
                        <td>
                            <div id="logoimgImg" style="display:none;" >
                                <img src="" width="100" height="100">
                            </div>
                            <button type="button" class="layui-btn layui-btn-xs" id="test1">
                                <i class="layui-icon">&#xe67c;</i>上传图片
                            </button>
                            <input name="logoimg" type="hidden" id="logoimg" size="30" class='' />
                        </td>
                    </tr>
                    <tr>
                        <td height="25">网站简况：</td>
                        <td><textarea name="msg" cols="50" rows="4" id="msg"></textarea></td>
                    </tr>
                    <tr>
                        <td height="25">站长Email：</td>
                        <td>
                            <input name="email" type="text" id="email" size="30" class='pubinputs' />
                        </td>
                    </tr>
                    <tr>
                        <td height="25">网站类型：</td>
                        <td>
                            <select name="typeid" id="typeid">
                                {volist name="row" id="vo"}
                                <option value='{$vo->id}'>{$vo->typename}</option>
                                {/volist}

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td height="25">链接位置：</td>
                        <td>
                            <input type='radio' name='ischeck' value="1" checked='1' /> 内页
                            <input type='radio' name='ischeck' value="2"/> 首页
                        </td>
                    </tr>
                    <tr>
                        <td height="51">&nbsp;</td>
                        <td>
                            <input type="submit" name="Submit" value=" 提 交 " class="layui-btn"  />　 　
                            <input type="reset" name="Submit" value=" 重 置 " class="layui-btn layui-btn-primary" />
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

{/block}