{extend name="public:base_layer" /}

{block name='style'}
<style>
    .layui-upload-img{width:90px;height:90px;}

</style>
{/block}


{block name="content"}
<form action="{:url('friendlink_add')}" class="layui-form" >
    <input type="hidden" name="dopost" value="add" />

    <div class="layui-form-item">
        <label class="layui-form-label">网址:</label>
        <div class="layui-input-block">
            <input type="text" name="url" value="http://" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网站名称:</label>
        <div class="layui-input-block">
            <input type="text" name="webname" value="" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排列位置:</label>
        <div class="layui-input-block">
            <input type="text" name="sortrank" value="" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">网站Logo:</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="test1">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>

            <div class="layui-upload-list">
                <input type="hidden" name="logo">
                <img class="layui-upload-img" id="demo1">
                <p id="demoText"></p>
            </div>
        </div>

    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网站简况:</label>
        <div class="layui-input-block">
            <textarea name="msg" cols="50" rows="4" id="msg" class="layui-textarea" ></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">网站类型:</label>
        <div class="layui-input-block">
            <select name="typeid" id="typeid">
                {volist name="row" id="vo"}
                <option value='{$vo->id}'>{$vo->typename}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">站长Email:</label>
        <div class="layui-input-block">
            <input name="email" type="text" size="30" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">站长Email:</label>
        <div class="layui-input-block">
            <input type='radio' name='ischeck' value="1" checked title="内页" />
            <input type='radio' name='ischeck' value="2" title="首页" />
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
        </div>
    </div>

</form>

{/block}

{block name="script"}
<script type="application/javascript">
layui.use(['form','upload','jquery','layer'], function() {
    var form = layui.form,
        upload = layui.upload,
        $ = layui.jquery,
        layer = layui.layer;

    var upload_url= "<?php echo url('Upload/upload'); ?>";
    var upload_accept='images';
    var upload_acceptMime='image/*';
    var upload_size=3145728;
    var uploadInst = upload.render({
        elem: '#test1'
        ,url: upload_url
        ,accept: upload_accept
        ,acceptMime:upload_acceptMime
        ,size: upload_size
        ,done: function(res){
            $("#demo1").attr('src', res.data.src);
            $("input[name='logo']").val(res.data.src);
        }
        ,error: function(){
            //请求异常回调
        }
    });

    form.on('submit(submit)', function(data){
        $.post("{:url('')}", data.field, function(obj){
            if(obj.code == 200){
                layer.msg(obj.msg , function(){
                    window.location.href = "{:url('index')}"
                })
            }
        }, 'json')
        return false;
    });


})
</script>
{/block}