{extend name="public:base" /}

{block name="style"}{/block}

{block name="content"}
<a href="{:url('friendlink_type_add')}" class="layui-btn layui-btn-xs">添加网站类型</a>
<table width="98%" border="0" cellpadding="1" cellspacing="1" align="center" class="layui-table">
        {volist name="row" id="vo" key="k"}
        <input type="hidden" name="ID_{$k}" value="{$vo->id}">
        <tr align="center" bgcolor="#FFFFFF">
            <td height="24" valign="top">{$vo->id}</td>
            <td height="24" valign="top"> {$vo->typename}</td>
            <td>
                <a href="{:url('friendlink_type_edit', ['id'=>$vo['id']])}" class="layui-btn layui-btn-xs">编辑</a>
                <a href="{:url('friendlink_type_delete', ['id'=>$vo['id']])}" class="layui-btn layui-btn-xs layui-btn-danger">删除</a>
            </td>
        </tr>
        {/volist}


</table>
{/block}

{block name="script"}

{/block}