{extend name="public:base" /}

{block name="content"}
<a href='{:url("/admin/FriendlinkMain/friendlink_add")}' class="layui-btn layui-btn-xs" lay-event="">[添加链接]</a>
<a href='{:url("/admin/FriendlinkMain/friendlink_type")}' class="layui-btn layui-btn-xs" lay-event="">[网站类型管理]</a>

<table lay-filter="demoFriendlinkMain">
    <thead>
    <tr>
        <th lay-data="{field:'f1'}">网站名称</th>
        <th lay-data="{field:'f2'}">网站Logo</th>
        <th lay-data="{field:'f3'}">站长Email</th>
        <th lay-data="{field:'f4'}">状态</th>
        <th lay-data="{field:'f5'}">顺序</th>
        <th lay-data="{field:'f7'}">时间</th>
        <th lay-data="{field:'f6'}">管理</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_data" id="vo"}
    <tr>
        <td>{$vo['webname']}</td>
        <td>{$vo['logo']}</td>
        <td>{$vo['email']}</td>
        <td>{$vo['webname']}</td>
        <td>{$vo['sortrank']}</td>
        <td>{$vo['dtime']|date='Y-m-d H:i:s'}</td>
        <td>
            <a href='{:url("/admin/FriendlinkMain/friendlink_edit", ["id"=>$vo->id,"dopost"=>"getedit"])}' class="layui-btn layui-btn-xs" lay-event="">[更改]</a>
            <a href='{:url("/admin/FriendlinkMain/friendlink_edit", ["id"=>$vo->id,"dopost"=>"delete"])}' class="layui-btn layui-btn-xs" lay-event="">[删除]</a>
        </td>

    </tr>
    {/volist}

    </tbody>

</table>


{/block}


{block name="script"}
<script type="text/javascript">


</script>
{/block}