{extend name="public:base" /}

{block name="content"}
<a href='{:url("/Admin/FriendlinkMain/friendlink_type")}' class="layui-btn layui-btn-sm" lay-event="">[网站类型管理]</a>

<!--<a href='("/Admin/FriendlinkMain/friendlink_edit", ["id"=>,"dopost"=>"getedit"])}' class="layui-btn layui-btn-xs layui-btn-normal" lay-event="">[更改]</a>
<a href='("/Admin/FriendlinkMain/friendlink_delete", ["id"=>,"dopost"=>"delete"])}' class="layui-btn layui-btn-xs layui-btn-danger" lay-event="">[删除]</a>-->

<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{:lang('edit')}</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
    </div>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="create">{:lang('create')}</a>
    </div>
</script>
{/block}

{block name="script"}
<script>
layui.use(['table', 'jquery'], function(){
    var table = layui.table,
        $ = layui.jquery
        , cols = [[
            {field: 'id', title: 'ID', width:80,fixed: 'left'}
            ,{field: 'webname', title: '网站名称', width:180}
            ,{field: 'url', title: '地址', width:180}
            ,{field: 'typename', title: '网站类型:', width:140}
            ,{field: 'sortrank', title: '顺序', width:80}
            ,{field: 'msg', title: '网站简况:', width:180}
            ,{field: 'logo', title: '图片', width:70,templet:function(d){
                if(d.logo) {
                    return '<img src="'+ d.logo+'" height="30" width="30" />';
                }
                return '-';
            }}
            ,{field: 'ischeck', title: '状态', width:90}
            ,{field: 'email', title: '站长Email', width:180}
            ,{field: 'dtime', title: '时间', width:170}
            ,{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}
            ]]
        , elem = 'table';

    UI.getPageTable(table, "{:url('')}", cols, "#"+elem, 'auth')



    table.on('tool(table)', function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;

        if(layEvent === 'del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            }, obj, "{:url('friendlink_delete')}");
        }else if(layEvent === 'edit'){
            UI.openLayer("{:url('friendlink_edit')}?id=" +data.id, 800, 750, "#submit", "{:lang('edit')}")
        }

    })

    table.on("toolbar(table)", function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;

        if(layEvent === 'create'){
            UI.openLayer("{:url('friendlink_add')}", 800, 750, "#submit", "{:lang('edit')}")
        }
    })

});
</script>
{/block}