{extend name="public:base" /}

{block name="content"}
<a href="{:url('sys_admin_user_add')}" class="layui-btn layui-btn-xs" lay-event="detail">新增帐号</a>
<a href="{:url('/admin/SysGroup')}" class="layui-btn layui-btn-xs" lay-event="detail">用户组管理</a>
<table lay-filter="demoSysAdminUser">
    <thead>
    <tr>
        <th lay-data="{field:'u1'}">登录ID</th>
        <th lay-data="{field:'u2'}">笔名</th>
        <th lay-data="{field:'u3'}">级别</th>
        <th lay-data="{field:'u4'}">频道</th>
        <th lay-data="{field:'u5'}">管理项</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_user" id="vo"}
    <tr>
        <td>{$vo['userid']}</td>
        <td>{$vo['uname']}</td>
        <td>{$vo['usertype']|GetUserType}</td>
        <td>{$vo['typename']|GetChannel}</td>
        <td>
            <a href='{:url("sys_admin_user_edit", ["id"=>$vo["id"],"dopost"=>"edit"])}'>[更改]</a>
            <a href='{:url("sys_admin_user_edit", ["id"=>$vo["id"],"userid"=>$vo["userid"],"dopost"=>"delete"])}'>[删除]</a>
            <a href='{:url("/admin/content_list", ["mid"=>$vo["id"]])}'>[文档]</a>
        </td>

    </tr>
    {/volist}
    </tbody>

</table>
{/block}


{block name="script"}
<script type="text/javascript">

</script>
{/block}