{extend name="public:base" /}

{block name="content"}
<div class="layui-btn-container">
    <a href="{:url('sys_admin_user_add')}" class="layui-btn layui-btn-sm" lay-event="add">新增帐号</a>
    <a href="{:url('/Admin/SysGroup')}" class="layui-btn layui-btn-sm" lay-event="detail">用户组管理</a>
</div>

<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">{:lang('edit')}</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="content_list">文档</a>
    </div>
</script>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="create">{:lang('create')}</a>
    </div>
</script>

{/block}

{block name="script"}
<script type="text/javascript">
layui.use(['table', 'jquery'], function() {
    var table = layui.table
        , $ = layui.jquery
        , cols = [[
            {field: 'id', title: 'ID', width:80,fixed: 'left'}
            , {field: 'userid', title: '登录ID', width: 80}
            , {field: 'uname', title: '笔名', width: 180}
            , {field: 'usertype', title: '级别', width: 90}
            , {field: 'typename', title: '频道', width: 90}
            , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
        ]]
        , elem = 'table';

    UI.getPageTable(table, "{:url('')}", cols, "#"+elem, 'auth')


    table.on("toolbar("+elem+")", function(obj){
        var data = obj.data
            , layEvent = obj.event;
        if(layEvent === 'create'){
            UI.openLayer("{:url('sys_admin_user_add')}", 800, 740, "#submit", "{:lang('create')}")
        }
    })

    table.on("tool("+elem+")", function(obj){
        var data = obj.data
            , layEvent = obj.event
            , tr = obj.tr;

        if(layEvent === 'del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            }, obj, "{:url('sys_admin_user_delete')}");
        }else if(layEvent === 'edit'){
            UI.openLayer("{:url('sys_admin_user_edit')}?id=" +data.id, 800, 740, "#submit", "{:lang('edit')}")
        }
    })

})
</script>
{/block}