{extend name="public:base_layer" /}

{block name="content"}

<form class="layui-form" lay-filter="first" style="margin: 20px 20px 0px 0px;" >
    <input name="randcode" type="hidden" value="{$_randcode}" />

    <div class="layui-form-item">
        <label class="layui-form-label">用户登录ID</label>
        <div class="layui-input-block">
            <input type="text" name="userid" placeholder="请输入" autocomplete="off" class="layui-input">
            <div class="layui-form-mid layui-word-aux">（只能用'0-9'、'a-z'、'A-Z'、'.'、'@'、'_'、'-'、'!'以内范围的字符）</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户笔名</label>
        <div class="layui-input-block">
            <input type="text" name="uname" placeholder="请输入" autocomplete="off" class="layui-input">
            <div class="layui-form-mid layui-word-aux">（发布文章后显示责任编辑的名字）</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户密码</label>
        <div class="layui-input-block">
            <input type="text" name="pwd" placeholder="请输入" autocomplete="off" class="layui-input">
            <div class="layui-form-mid layui-word-aux">（只能用'0-9'、'a-z'、'A-Z'、'.'、'@'、'_'、'-'、'!'以内范围的字符）</div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">用户组</label>
        <div class="layui-input-inline">
            <select name='usertype' style='width:200px'>
                {volist name="_ut" id="vo"}
                <option value='{$vo->rank}'>{$vo->typename}</option>
                {/volist}
            </select>

        </div>
        <div class="layui-input-inline">
            <a href='sys_group.php' class="layui-form-label"><u>用户组设定</u></a>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">授权栏目</label>
        <div class="layui-input-inline">
            <select name="typeids[]" id="typeid" size='10' style="width:200px" multiple="true">
                <option value="0" class='alltype' selected>--所有频道--</option>
                {$_typeOptions|raw}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-block">
            <input type="text" name="tname" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">电子邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" placeholder="请输入" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">安全验证串</label>
        <div class="layui-input-block">
            <input type="text" name="safecode" placeholder="请输入" autocomplete="off" class="layui-input">
            <div class="layui-form-mid layui-word-aux">(复制本代码： <font color='red'>{$_safecode}</font> )</div>
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button lay-submit id="submit" class="layui-btn" lay-filter="submit">提交</button>
        </div>
    </div>

</form>
{/block}

{block name="script"}
<script type="application/javascript">
    layui.use(['form','upload','jquery'], function() {
        var form = layui.form,
            upload = layui.upload,
            $ = layui.jquery;

        var upload_url= "{:url('Upload/upload')}";
        var upload_accept='images';
        var upload_acceptMime='image/*';
        var upload_size=3145728;
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: upload_url
            ,accept: upload_accept
            ,acceptMime:upload_acceptMime
            ,size: upload_size
            ,done: function(res){
                $("#logoimgImg").show();
                $("#logoimgImg img").attr('src', res.data.src);
                $("input[name='logoimg']").val(res.data.src);
                $("input[name='logo']").val(res.data.src);
            }
            ,error: function(){
                //请求异常回调
            }
        });

        form.on('submit(submit)', function(data){
            $.post("{:url('')}", data.field, function(obj){
                if(obj.code == 200){
                    layer.msg(obj.msg , function(){
                        window.location.href = "{:url('index')}"
                    })
                }
            }, 'json')
            return false;
        });

    })
</script>
{/block}