{extend name="public:base_layer" /}

{block name="style"}{/block}

{block name="content"}
<form class="layui-form" lay-filter="formTest" style="margin: 20px 20px 0px 0px;" >

    <div class="layui-form-item">
        <label class="layui-form-label">{$info['info']}</label>
        <div class="layui-input-block">
            {if condition="$info['varname'] eq 'cfg_bd_tj' || $info['varname'] eq 'cfg_keywords'"}
            <textarea name="value" placeholder="请输入" class="layui-textarea" >{$info['value']}</textarea>
            {else}
            <input type="text" name="value" placeholder="请输入" autocomplete="off" class="layui-input">
            {/if}
        </div>
    </div>

    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" id="submit" lay-submit lay-filter="*">立即提交</button>
        </div>
    </div>

</form>
{/block}

{block name="script"}
<script>
layui.use(['form', 'jquery'], function(){
    var form = layui.form
        , $ = layui.jquery;

    form.val("formTest", {
        "info": "{$info['info']}",
        "value": "{$info['value']}"
    })

    form.on('submit(*)', function(data){
        $.post("", data.field, function(obj){
            if(obj.code == 200){
                layer.msg(obj.msg, {icon: 1}, function(){
                    var index = parent.layer.getFrameIndex(window.name);
                    parent.layui.table.reload("table");
                    parent.layer.close(index);
                })
            }else{
                layer.msg(obj.msg, {icon: 2});
            }
        }, 'json')
        return false;
    });


})
</script>
{/block}