{extend name="public:base" /}

{block name="content"}
<table lay-filter="demoSysInfoIndex">
    <thead>
    <tr>
        <th lay-data="{field:'username'}" >昵称</th>
        <th lay-data="{field:'exper'}" >积分</th>
        <th lay-data="{field:'sign'}" >签名</th>
    </tr>
    </thead>
    <tbody>
    {volist name="_sysconfig" id="vo"}
    <tr>
        <td>{$vo['info']}</td>
        <td>
            {switch name="$vo['type']"}
                {case value="string"}
                <input type="text" value="{$vo['value']}" name="" class="layui-input" />
                {/case}
                {case value="bool"}
                <input type="radio" class="np" name="" value="Y"  {if condition="$vo['value'] eq 'Y'"} checked{/if}  >是
                <input type="radio" class="np" name="" value="N" {if condition="$vo['value'] eq 'N'"} checked{/if} >否
                {/case}
                {case value="bstring"}
                <textarea cols="100" rows="10" class="layui-textarea" >{$vo['value']}</textarea>
                {/case}
                {default}
            {/switch}

        </td>
        <td>{$vo['varname']}</td>
    </tr>
    {/volist}

    </tbody>



</table>

<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
    </div>
</div>

{/block}


{block name="script"}

<script type="text/javascript">


</script>
{/block}