{extend name="public:base" /}

{block name="content"}

<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">编辑</a>
</script>

{/block}


{block name="script"}

<script type="text/javascript">
layer.config({ skin: 'demo-class'})
layui.use(['form','upload','jquery','layer'], function() {
    var form = layui.form,
        $ = layui.jquery,
        layer = layui.layer,
        table = layui.table;

    table.render({
        elem: '#table'
        , url: "{:url('')}"
        , page: false
        , limit: 20
        , method: 'post'
        , cols: [[
            // {field: 'aid', title: 'ID', width:60,fixed: 'left'}
            {field: 'info', title: '标题', width:180}
            ,{field: 'value', title: '键值', width:470}
            ,{fixed: 'right', title:'操作', width:120, align:'center', toolbar: '#barDemo'}
        ]]
    });

    table.on('tool(table)', function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;

        if(layEvent === 'detail'){
            layer.open({
                type : 2
                , title : '详情'
                , area : ['600px', '240px']
                , btn: ["关闭"]
                , content: "{:url('detail')}?varname=" + data.varname
                , yes: function(index, layero){
                    layer.close(index)
                }
            })
        } else if(layEvent === 'edit'){
            layer.open({
                type : 2
                , title : '编辑'
                , area : ['600px', '240px']
                , btn: ["提交", "关闭"]
                , content: "{:url('edit')}?varname=" + data.varname
                , yes: function(index, layero){
                    var submit = layero.find('iframe').contents().find("#submit");
                    submit.click();
                }
                , btn2: function(index, layero){
                    layer.close(index)
                }
            })
        }

    })


});
</script>
{/block}