{extend name="public:base" /}

{block name="style"}
<style>
thead tr th .laytable-cell-1-0-1{text-align: center;}
</style>
{/block}

{block name="content"}
<fieldset class="layui-elem-field " style="margin:10px;">
    <legend>&nbsp;</legend>
    <div >
        <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始id:</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="startaid" placeholder="" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">开始id:</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="endaid" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" data-type="reload">获取tags</button>
            </div>
        </div>
    </form>
    </div>
</fieldset>

<table id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
    </div>
</script>
{/block}

{block name="script"}
<script>
layui.use(['table', 'jquery'], function(){
    var table = layui.table,
        $ = layui.jquery;

    table.render({
        elem: '#demo'
        ,url: "{:url('')}"
        ,method: 'post'
        ,request: {}
        ,response: {}
        ,page: true
        ,cols: [[
            {field: 'id', title: 'ID', width:80,fixed: 'left', align: 'center'}
            ,{field: 'tag', title: '标签', width:180}
            ,{field: 'count', title: '点击数', width:100, align: 'center'}
            ,{field: 'total', title: '文档数:', width:80, align: 'center'}
            ,{field: 'addtime', title: '添加时间', width:170, align: 'center'}
            ,{fixed: 'right', width:70, align:'center', toolbar: '#barDemo'}
        ]]
    });

    table.on('tool(test)', function(obj){
        var data = obj.data,
            layEvent = obj.event;
        if(layEvent === 'del'){
            layer.confirm('真的删除行么', function(index) {
                $.post("{:url('friendlink_delete')}", {ids:data.id}, function (objs) {
                    if(objs.code == 200) {
                        layer.msg(objs.msg, {icon: 1}, function () {
                            obj.del();
                            layer.close(index);
                        })
                    } else {
                        layer.msg(objs.msg, {icon: 2});
                    }
                }, 'json');
            })
        }else if(layEvent === 'edit'){
            // obj.update({
            //     username: '123'
            //     ,title: 'xxx'
            // });
            window.location.href = "{:url('tags_main_update')}?id=" +data.id + "&count=" + data.count;
        }

    })
});
</script>
{/block}
