{extend name="public:base" /}

{block name="style"}
<style>
thead tr th .laytable-cell-1-0-1{text-align: center;}
</style>
{/block}

{block name="content"}
<fieldset class="layui-elem-field " style="margin:10px;">
    <legend>&nbsp;</legend>
    <div >
        <form class="layui-form" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始id:</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="startaid" placeholder="" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid">开始id:</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="endaid" placeholder="" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
            <button class="layui-btn layui-btn-sm" data-type="reload">获取tags</button>
            </div>
        </div>
    </form>
    </div>
</fieldset>

<table id="table" lay-filter="table"></table>

<script type="text/html" id="barDemo">
    <div class="layui-btn-container">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">{:lang('delete')}</a>
    </div>
</script>
{/block}

{block name="script"}
<script>
layui.use(['table', 'jquery'], function(){
    var table = layui.table,
        $ = layui.jquery
        , _cols = [[
            {field: 'id', title: 'ID', width:80,fixed: 'left', align: 'center'}
            ,{field: 'tag', title: '标签', width:180}
            ,{field: 'count', title: '点击数', width:100, align: 'center'}
            ,{field: 'total', title: '文档数:', width:80, align: 'center'}
            ,{field: 'addtime', title: '添加时间', width:170, align: 'center'}
            ,{fixed: 'right', width:70, align:'center', toolbar: '#barDemo'}
        ]]
        , elem = 'table';

    UI.getPageTable(table, "{:url('')}", _cols, "#"+elem, 'auth')

    table.on('tool('+elem+')', function(obj){
        var data = obj.data;
        var layEvent = obj.event;
        var tr = obj.tr;
        if(layEvent === 'del'){
            UI.delete(data['id'], function(res){
                if(res.code==200){
                    table.reload("table");
                }
            }, obj, "{:url('friendlink_delete')}");
        }
    })

});
</script>
{/block}
