{extend name="public:base" /}

{block name="content"}
<table class="layui-table">
    <tr>
        <th>Id</th>
        <th>留言者</th>
        <th>留言内容</th>
        <th>IP</th>
        <th>时间</th>
    </tr>
    {volist name="_data" id='vo'}
    <tr>
        <td>{$vo['aid']}</td>
        <td>{$vo['uname']}</td>
        <td>{$vo['msg']}</td>
        <td>{$vo['ip']}</td>
        <td>{$vo['dtime']|date='Y-m-d'}</td>
    </tr>
    {/volist}
</table>
<div>
    {$_data|raw}
</div>
{/block}


{block name="script"}
<script type="text/javascript">


</script>
{/block}