{extend name="public:base" /}

{block name="content"}

<table id="table" lay-filter="table"></table>

<script type="text/html" id="toolbarDemo"></script>
<script type="text/html" id="barDemo"></script>
{/block}

{block name="script"}
<script type="text/javascript">
layui.use(['table', 'jquery'], function() {
    var table = layui.table,
        $ = layui.jquery
        , cols = [[
            {field: 'id', title: 'ID', width: 80, fixed: 'left'}
            , {field: 'userid', title: '登录ID', width: 80}
            , {field: 'uname', title: '笔名', width: 180}
            , {field: 'usertype', title: '级别', width: 90}
            , {field: 'typename', title: '频道', width: 90}
            , {fixed: 'right', width: 220, align: 'center', toolbar: '#barDemo'}
        ]]
        , elem = 'table';

    UI.getPageTable(table, "{:url('')}", cols, "#"+elem, 'auth');

})
</script>
{/block}